.root-container{
}

.user{
    display: flex;
    .avatar{
        width: 4rem;
        display: flex;
        align-items: center;
        img{
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
        }
    }
    .info{
        width: 73%;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        p{
            width: 100%;
        }
        .name{
            font-size: 1rem;
        }
        .postedOn{
            font-size: 0.8rem;
            color: rgb(158, 158, 158);
        }
    }
}
.comment{
    padding: 0.8rem;
    pre{
        font-size: 1rem;
        font-weight: 300;
        white-space: pre-wrap;
    }
}