<div class="root-container">
    <div class="user">
        <div class="avatar">
            <img [src]="comment.users.image" alt="">
        </div>
        <div class="info">
            <p class="name">{{comment.users.name |titlecase}}</p>
            <p class="postedOn">{{comment.created_at |date:"MMM dd YYYY"}}</p>
        </div>
    </div>
    <div class="comment">
        <pre>{{comment.comment}}</pre>
    </div>
</div>
