@import "../../../constants/colors.scss";

.root-container{
    width: 100%;
    min-height: 100vh;
    background-image: url("../../../../../assets/images/login-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem 6rem;
}
.top-title{
    display: flex;
    p{
        color: #fff;
        padding-left: 1rem;
        font-size: 1.5rem;
        margin: auto 0;
    }
}
.main-container{
    display: flex;
    margin-top: 4rem;
}
.left-details{
    width: 50%;
    .title{
        width: 60%;
        font-size: 3rem;
        color: #fff;
    }
    .description{
        width: 80%;
        color: rgba(153, 153, 153, 1);
        font-size: 2rem;
    }
    .home-btn{
        margin-top: 2rem;
        background: rgba(255, 255, 255, 0.08);
        border: 2px solid #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(2px);
        border-radius: 24px;
        padding: 0.8rem 3rem;
        color: #fff;
        &:hover{
            background: rgba(255, 255, 255, 0.01);
        }
    }
}
.right-details{
    width: 50%;
    display: flex;
    justify-content: center;
    .form{
        width: 70%;
        min-height: 33rem;
        background-color: rgba(253, 253, 253, 0.8);
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(4px);
        border-radius: 13px;
        padding: 2rem 3rem;
        .form-title{
            border-left: 4px solid $presidio_blue;
            padding: 0;
            padding-left: 0.7rem;
            font-size: 1.4rem;
            font-weight: 600;
            color: $presidio_blue;
        }
        .sso-wrapper{
            width: 100%;
            margin-top: 2rem;
            display: flex;
            justify-content: space-between;
            .sso-btn{
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 47%;
                background-color: rgba(255, 255, 255, 1);
                border-radius: 8px;
                padding: 0.6rem;
                span{
                    padding-left: 0.1rem;
                    color: rgba(86, 86, 86, 1);
                    font-size: 0.9rem;
                }
                &:hover{
                    background-color: rgb(247, 247, 247);
                }
            }
        }
        .inputs-wrapper{
            width: 100%;
            .input-holder{
                margin-top: 2rem;
                width: 100%;
                input{
                    width: 100%;
                    background: #FFFFFF;
                    border: 1px solid #BEBEBE;
                    box-sizing: border-box;
                    border-radius: 8px;
                    padding: 0.6rem 1rem;
                }
            }
            .submit-btn{
                width: 100%;
                background: $presidio_blue;
                border: 1px solid #BEBEBE;
                box-sizing: border-box;
                border-radius: 7px;
                padding: 0.6rem 1rem;
                color: #fff;
                &:hover{
                    background: $presidio_blue_hover;
                }
            }
            .other-option{
                width: 100%;
                text-align: center;
                color:#999999;
                span{
                    color: #000000;
                    cursor: pointer;
                    padding-left: 0.3rem;
                    &:hover{
                        text-decoration: underline;
                        color: $presidio_blue;
                    }
                }
            }
        }
    }
}


@media screen and (max-width:1200px) {
    .left-details{
        .title{
            font-size: 2.5rem;
        }
        .description{
            font-size: 1.5rem;
        }
    }
    .right-details{
        .form{
            width: 95%;
        }
    }
}
@media screen  and (max-width:800px) {
    .root-container{
        padding: 1rem 2rem;
    }
    .top-title{
        justify-content: center;
    }
    .main-container{
        flex-wrap: wrap;
    }
    .left-details{
        width: 100%;
        padding-bottom: 2rem;
        text-align: center;
        .title,.description{
            width: 100%;
        }
    }
    .right-details{
        width: 100%;
        .form{
            width: 100%;
        }
    }
}
@media screen and (max-width:500px) {
    .right-details{
        .form{
            padding: 1rem 2rem;
            .sso-wrapper{
                flex-wrap: wrap;
                .sso-btn{
                    width: 100%;
                    margin-bottom: 0.5rem;
                }
            }
        }
    }
    
}