<div class="root-container">
    <app-nav-top></app-nav-top>
    <div class="loader" *ngIf="is_loading">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="main-container" *ngIf="!is_loading">
        <div class="profile-wrapper">
            <div class="profile-picture">
                <img [src]="user.image" alt="">
            </div>
            <div class="profile-info">
                <div class="follow-btn-wrapper">
                    <button class="follow-btn" (click)="follow()" *ngIf="canAccess!=user.email && !findUser(user.followers_followers_followingTousers)" [disabled]="isFollowing">
                        <svg *ngIf="!isFollowing" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                        </svg>
                        <span *ngIf="!isFollowing">Follow</span>
                        <span>
                            <div class="loader-small" *ngIf="isFollowing"></div>
                        </span>
                    </button>
                    <button class="follow-btn" (click)="follow()" *ngIf="canAccess!=user.email && findUser(user.followers_followers_followingTousers)" [disabled]="isFollowing">
                        <svg *ngIf="!isFollowing" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg>
                        <span *ngIf="!isFollowing">Following</span>
                        <span>
                            <div class="loader-small" *ngIf="isFollowing"></div>
                        </span>
                    </button>
                </div>
                <span class="name">{{user.name}}</span>
                <span class="followers">{{user.followers_followers_followingTousers.length}} followers</span>
            </div>
        </div>
        <div class="tab-wrapper">
            <nz-tabset nzCentered nzSize="large">
                <nz-tab nzTitle="Blogs">
                    <div class="blogs-list">
                        <app-blog-card [blog]="blog" *ngFor="let blog of user.posts"></app-blog-card>
                        <p *ngIf="user.posts.length==0">No blogs published</p>
                    </div>
                </nz-tab>
                <nz-tab nzTitle="Followers">
                    <div class="user-list">
                        <app-user-card [user]="user" *ngFor="let user of user.followers_followers_followingTousers"></app-user-card>
                        <p *ngIf="user.followers_followers_followingTousers.length==0">No Followers </p>
                    </div>
                </nz-tab>
                <nz-tab nzTitle="Following">
                    <div class="user-list">
                        <app-user-card [user]="user" *ngFor="let user of user.followers_followers_followed_byTousers"></app-user-card>
                        <p *ngIf="user.followers_followers_followed_byTousers.length==0">Not Following anyone </p>
                    </div>
                </nz-tab>
            </nz-tabset>
        </div>
    </div>
</div>