.root-container{
    width: 100%;
}
.profile-wrapper{
    width: 100%;
    background-color: #000;
    height: 25rem;
    padding: 2rem;
    .profile-picture{
        width: 100%;
        display: flex;
        justify-content: center;
        img{
            width: 15rem;
            height: 15rem;
            border-radius: 8px;
        }
    }
    .profile-info{
        margin-top: 2rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        >*{
            color: #fff;
        }
        span{
            margin: auto 0;
        }
        .follow-btn{
            display: flex;
            background-color: #fff;
            color: #000;
            height: 2.5rem;
            padding: 0.3rem 1.5rem;
            border-radius: 32px;
            svg{
                margin: auto;
                margin-right: 0.3rem;
            }
            &:hover{
                background-color: rgb(230, 230, 230);
            }
        }
        .follow-btn-wrapper{
            width: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .name{
            width: 40%;
            text-align: center;
            font-size: 3.5rem;
        }
        .followers{
            width: 30%;
            text-align: center;
        }
    }
}
.tab-wrapper{
    width: 90%;
    margin: auto;
    margin-top: 3rem;
    padding-bottom: 3rem;
    .blogs-list,.user-list{
        display: flex;
        flex-wrap: wrap;
        p{
            width: 100%;
            margin: 1rem;
            text-align: center;
        }
    }
}

//
.loader-small {
    border: 3px solid #f3f3f3; 
    border-top: 3px solid #3498db; 
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media screen and (max-width:750px) {
    .profile-wrapper{
        padding: 2rem 1rem;
        height: 22rem;
        .profile-picture{
            img{
                width: 10rem;
                height: 10rem;
            }
        }
        .profile-info{
            flex-wrap: wrap;
            .follow-btn{
                height: 2rem;
            }
            .follow-btn-wrapper{
                order: 1;
            }
            .name{
                width: 100%;
                order: 0;
                font-size: 1.8rem;
                margin-bottom: 1rem;
            }
            .followers{
                order: 2;
            }
        }
    }
    .blogs-list,.user-list{
        justify-content: center;
    }
}