<div class="root-container">
    <app-nav-top></app-nav-top>
    <div class="loader" *ngIf="is_loading">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="main-container" *ngIf="!is_loading">
        <div class="blog-list">
            <app-blog-card *ngFor="let blog of blogs" [blog]="blog"></app-blog-card>
            <p *ngIf="blogs.length===0">No blogs available</p>
        </div>
    </div>
</div>