

.main-container{
    width: 100%;
    padding: 4rem;
    display: flex;
    justify-content: center;
    .blog-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}