
<div class="root-container">
    <app-nav-top></app-nav-top>
    <form class="main-container" [formGroup]="newBlog">
        <div class="actions">
            <button class="normal-btn" (click)="setInititalValue()" [disabled]="isCreatingPost">Reset</button>
            <button class="primary-btn" (click)="publish()" [disabled]="isCreatingPost">Publish</button>
        </div>
        <div class="title-wrapper">
            <input type="text" formControlName="title" class="title-input" placeholder="Enter Title">
        </div>
        <div class="banner-input-wrapper" 
            (drop)="selectDroppedFile($event)"
            (dragleave)="dragExitHandler($event)"
            (dragover)="allowDrop($event)"
            [ngClass]="{'dragover-effect': hover_effect}"
        >
            <div class="preview-image-wrapper" *ngIf="coverImagePreviewURL!=''">
                <img class="preview-image" [src]="coverImagePreviewURL"  alt="">
                <div class="cancel-wrapper">
                    <p (click)="unselectFile()">Cancel</p>
                </div>
            </div>
            <div class="vector-image" *ngIf="coverImagePreviewURL==''">
                <svg width="291" height="228" viewBox="0 0 291 228" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M72.604 126.349C74.2586 138.769 75.9129 151.189 77.5675 163.609L78.9035 173.639C79.0722 174.905 78.9129 177.401 79.5554 178.534C79.7824 178.934 80.3789 179.124 80.8175 179.359C82.327 180.17 83.837 180.982 85.3465 181.793C98.117 188.656 110.887 195.518 123.657 202.381C135.913 208.967 148.169 215.553 160.424 222.139C161.693 222.821 163.744 224.599 165.113 224.13C166.414 223.685 167.745 222.587 168.926 221.894C171.194 220.563 173.462 219.233 175.73 217.903C189.455 209.852 203.178 201.801 216.903 193.751C222.565 190.429 228.227 187.108 233.89 183.786C235.439 182.878 236.989 181.969 238.538 181.06C239.348 180.585 239.453 180.601 239.772 179.795C240.965 176.779 241.517 173.323 242.361 170.194C243.29 166.745 244.22 163.297 245.15 159.848C245.565 158.309 245.37 158.11 244.694 156.625C243.356 153.684 242.018 150.744 240.68 147.805C237.71 141.279 234.74 134.753 231.77 128.228C230.568 125.589 227.676 123.732 225.593 121.791L193.255 91.6557C192.433 90.8901 191.612 90.1248 190.791 89.3592C190.655 93.9599 189.747 98.9057 191.079 103.35C193.265 110.644 195.451 117.937 197.637 125.231C198.694 128.756 199.75 132.281 200.807 135.807C201.003 136.462 202.199 139.059 201.879 139.635C201.702 139.954 200.192 140.277 199.865 140.402C198.461 140.937 197.056 141.472 195.651 142.007C191.737 143.497 187.824 144.987 183.91 146.477C180.39 147.818 176.87 149.158 173.349 150.499C172.156 150.954 170.754 151.795 169.493 151.725C168.365 151.662 167.083 151.104 165.992 150.822C164.073 150.328 162.155 149.833 160.236 149.338C156.467 148.367 152.698 147.395 148.93 146.423C144.689 145.33 141.109 142.119 137.482 139.743C131.25 135.658 125.017 131.573 118.784 127.488C117.357 126.553 117.352 126.02 116.783 124.312C115.506 120.475 114.228 116.638 112.95 112.801C112.268 110.752 111.428 108.695 110.913 106.597C110.063 103.135 109.559 99.5519 108.886 96.0519C108.683 94.9959 108.48 93.9397 108.277 92.8837C105.667 93.9438 103.056 95.0043 100.446 96.0648C100.068 96.2183 98.224 96.6765 98.0601 97.0531C97.9562 97.291 98.5046 98.3711 98.5831 98.6031C100.747 105.019 102.912 111.435 105.076 117.851C105.757 119.87 106.438 121.888 107.119 123.906C105.492 121.347 103.865 118.788 102.238 116.229C100.96 120.533 99.6813 124.837 98.4028 129.14C95.3816 125.651 92.36 122.161 89.3384 118.672C88.2925 122.161 87.2466 125.651 86.2007 129.14C82.9469 124.837 79.6931 120.533 76.439 116.229C76.0523 118.475 75.6654 120.721 75.2784 122.967C75.1616 123.645 75.1849 125.589 74.7342 126.126C74.3629 126.568 73.2939 126.349 72.604 126.349Z" fill="#FF5678"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M278.623 153.196C278.44 159.042 278.567 166.632 275.37 171.772C274.854 172.602 273.106 175.186 272.911 172.913C272.72 170.681 273.269 168.47 272.725 166.213C272.434 165.005 271.456 162.366 269.785 163.457C268.933 164.013 268.708 165.386 268.375 166.253C267.882 167.536 267.33 168.798 266.811 170.07C264.998 174.513 263.119 179.815 259.09 182.755C259.617 178.924 261.055 174.833 260.088 170.961C259.759 169.641 258.761 167.231 257.043 168.005C255.369 168.758 254.284 172.12 253.494 173.617C251.099 178.156 248.649 182.609 245.952 186.979C244.596 189.176 243.131 191.185 241.356 193.065C240.246 194.241 238.863 196.228 237.114 196.403C237.114 193.052 238.215 189.815 239.221 186.659C240.303 183.266 241.289 179.843 242.351 176.444C243.272 173.495 244.028 170.568 244.642 167.544C244.896 166.294 245.097 164.999 246.162 164.191C247.119 163.465 248.631 163.12 249.699 162.586C252.502 161.184 255.385 159.672 257.989 157.93C259.058 157.214 259.978 156.29 261.098 155.648C262.373 154.917 263.564 154.302 264.744 153.411C269.837 149.567 274.427 144.838 277.52 139.208C278.022 141.47 278.687 143.68 278.761 146.011C278.836 148.402 278.698 150.807 278.623 153.196ZM236.714 180.069C235.9 178.692 234.659 179.256 233.566 179.92C231.869 180.95 230.168 181.972 228.463 182.989C224.993 185.058 221.587 187.236 218.197 189.433C211.296 193.904 204.154 197.563 196.879 201.348C189.847 205.006 183.093 209.358 176.504 213.758C174.921 214.815 173.348 215.897 171.828 217.044C170.478 218.062 169.399 219.491 167.978 220.398C166.499 221.341 165.482 220.576 164.067 219.88C162.297 219.009 160.453 218.28 158.644 217.495C151.344 214.327 144.023 211.039 136.921 207.444C129.863 203.87 123.175 199.752 116.412 195.663C113.191 193.716 110.025 191.644 106.848 189.625C103.467 187.477 99.9663 185.867 96.4196 184.041C94.8504 183.232 93.4605 182.135 91.8487 181.4C90.1544 180.627 88.3645 180.073 86.8472 178.959C86.167 178.459 85.5932 177.862 84.8157 177.509C84.1774 177.219 83.4529 177.17 82.8226 176.862C81.5403 176.235 81.1732 174.963 80.925 173.64C79.3279 165.148 78.479 156.42 77.5534 147.833C77.0332 143.004 76.4527 138.194 75.7339 133.39C75.4096 131.225 76.0616 129.547 76.4039 127.44C76.8035 124.98 76.9614 122.468 77.2291 119.99C78.4926 122.333 79.5852 124.792 81.1928 126.93C82.3778 128.506 84.4019 130.74 86.584 130.687C89.9755 130.605 89.8204 124.783 89.957 122.472C91.5018 123.852 91.9704 126.1 93.2527 127.703C94.4234 129.167 96.0166 130.983 97.8145 131.638C101.6 133.018 101.236 125.985 101.028 123.991C100.923 122.99 100.359 121.407 101.698 121.863C102.931 122.283 104.131 124.025 105.167 124.824C106.959 126.205 108.924 127.353 110.762 128.671C113.042 130.307 115.503 131.489 117.828 133.013C119.282 133.966 120.869 134.18 122.454 134.88C124.776 135.907 126.828 137.438 129.039 138.669C133.417 141.106 138.273 143.291 143.061 144.76C144.611 145.235 146.675 146.575 147.851 145.198C148.574 144.351 149.05 143.057 149.664 142.107C150.441 140.905 151.267 139.734 152.124 138.587C155.17 134.511 158.551 130.662 162.305 127.224C166.673 123.224 171.449 119.625 176.558 116.628C178.753 115.339 187.919 109.567 189.933 113.63C188.278 113.526 186.843 114.132 185.427 114.891C185.081 115.077 183.3 116.35 183.717 115.228C183.199 115.325 182.745 116 182.353 116.301C181.676 116.82 180.648 117.42 179.864 117.85C179.088 118.274 178.13 118.378 177.424 118.893C177.166 119.081 177.009 119.386 176.763 119.59L176.057 119.595C175.952 119.987 175.846 120.377 175.741 120.769C175.342 119.489 174.773 121.153 174.107 121.694C173.706 122.019 173.072 122.353 172.6 122.563C172.248 122.72 172.193 122.355 171.851 122.632C171.547 122.878 171.353 123.42 171.026 123.729C170.625 124.106 170.111 124.4 169.664 124.722C168.807 125.34 167.901 125.825 167.032 126.411C165.865 127.198 165.252 128.553 164.118 129.377C163.581 129.768 162.747 129.813 162.456 130.063C161.727 130.691 161.967 131.641 160.607 131.683C160.731 131.881 160.805 132.096 160.831 132.328C160.507 132.272 160.219 132.138 159.967 131.925C160.024 133.282 158.69 133.767 157.891 134.603C157.43 135.084 156.855 135.762 156.531 136.341C156.477 136.438 156.373 137.212 156.351 137.222C156.228 137.282 155.476 136.621 155.547 136.676C155.338 137.93 154.125 139.116 153.594 140.277C153.315 140.889 153.031 141.872 152.479 142.302C152.33 142.419 151.868 142.297 151.487 142.704C151.208 143.002 150.885 143.553 150.772 143.948C150.696 144.212 150.787 144.896 150.678 145.054C150.479 145.344 150.168 145.053 149.856 145.267C149.279 145.663 149.264 146.281 148.419 146.362C149.001 147.778 152.517 148.215 153.795 148.618C157.408 149.756 161.199 150.893 164.577 152.636C165.451 153.087 166.278 153.459 166.432 154.498C166.648 155.943 165.912 157.865 165.772 159.325C165.391 163.268 165.314 167.327 165.393 171.287C165.468 175.037 165.59 178.823 165.764 182.569C165.926 186.042 166.626 189.447 167.003 192.895C167.107 193.842 167.038 198.111 168.664 197.896C170.022 197.716 169.164 194.801 169.139 193.965C169.082 192.115 169.471 190.227 169.455 188.36C169.447 187.463 169.839 186.69 169.877 185.832C169.914 184.984 169.493 184.313 169.619 183.434C169.74 182.59 172.232 177.737 169.839 178.305C169.979 177.611 170.102 176.912 170.287 176.228C170.543 176.458 170.749 176.728 170.905 177.035C171.118 175.544 171.047 174.056 171.179 172.564C171.238 171.889 171.512 171.148 171.418 170.467C171.436 170.185 171.4 169.908 171.311 169.636C171.164 169.48 170.981 169.398 170.765 169.39C170.651 169.017 170.622 168.915 170.824 168.549C170.911 168.301 171.083 168.146 171.34 168.084C171.831 168.026 171.887 167.744 171.509 167.237C171.706 166.238 171.732 165.607 171.589 164.61C171.469 163.772 171.91 162.149 171.461 161.403C170.936 160.531 170.675 161.377 170.578 160.168C170.557 159.913 170.54 159.379 170.643 159.124C170.755 158.847 171.094 158.96 171.137 158.862C171.431 158.19 171.451 156.867 170.411 156.982C170.451 156.502 170.492 156.022 170.533 155.543C171.284 156.408 171.021 155.676 171.448 155.194C172.021 154.546 172.583 154.434 173.403 154.178C175.589 153.495 177.696 152.468 179.832 151.635C184.356 149.87 188.964 148.295 193.355 146.209C202.592 141.823 211.645 137.062 220.937 132.791C220.274 131.558 220.686 131.498 221.172 130.34C221.819 130.79 221.683 130.476 222.144 130.448C222.102 130.062 222.222 129.945 222.504 130.099C222.728 130.167 222.958 130.192 223.193 130.172C223.769 130.27 224.239 130.587 224.761 130.708C224.933 130.834 225.122 130.929 225.327 130.993C225.512 130.951 225.67 130.859 225.8 130.718C226.647 130.875 226.932 131.514 226.969 132.438C226.975 132.599 226.484 132.763 226.625 132.979C226.87 133.357 227.532 133.267 227.911 133.315C227.828 133.707 227.745 134.099 227.662 134.491C229.323 133.724 228.89 136.126 229.394 136.915C229.534 137.135 229.847 136.959 230.01 137.214C230.222 137.547 230.158 138.018 230.339 138.35C230.748 139.1 231.157 139.009 231.565 139.867C233.695 144.351 236.528 148.529 238.572 153.109C239.546 155.289 240.423 157.506 241.44 159.667C242.375 161.655 242.909 163.346 242.243 165.518C240.697 170.555 239.044 175.685 237.018 180.551C236.917 180.391 236.815 180.23 236.714 180.069ZM128.884 217.673C128.739 217.92 128.594 218.167 128.449 218.415C128.127 216.56 128.985 217.42 128.884 217.673ZM122.066 214.2C121.601 214.061 121.802 213.301 121.817 212.977C122.111 213.343 122.399 213.717 122.644 214.12C122.451 214.147 122.258 214.174 122.066 214.2ZM103.378 207.07C103.866 206.797 104.217 206.6 104.77 206.289C104.208 207.386 104.208 207.386 103.378 207.07ZM73.9781 110.431C73.2324 112.263 75.5062 123.575 73.3893 123.944C73.0856 122.951 73.0476 120.218 71.7908 119.891C70.2314 119.486 70.3851 122.301 70.1721 123.171C66.9706 120.941 65.5486 116.636 64.0191 113.224C62.0695 108.875 60.5356 104.351 59.0706 99.8196C57.818 95.9451 56.7822 92.0022 55.5163 88.134C54.7211 85.7046 53.8638 83.2692 53.329 80.7651C53.2129 80.221 52.7558 78.8416 53.1442 78.3244C53.7086 77.5724 55.7405 78.4337 56.3952 78.6312C60.6426 79.9105 65.0486 80.4611 69.4124 81.2044C74.2609 82.0297 79.0985 82.8829 83.9762 83.5229C85.1951 83.6827 86.4146 83.8341 87.6348 83.9814C88.4262 84.077 89.6241 83.9814 90.3757 84.3366C91.8972 85.0552 92.2211 87.8049 92.7862 89.2315C94.8944 94.5538 97.3756 99.7079 99.5953 104.982C101.595 109.733 103.111 114.788 105.985 119.114C103.842 118.163 101.125 113.133 98.7293 116.032C97.6995 117.279 97.9592 118.921 98.0415 120.413C98.1607 122.569 98.198 124.742 98.198 126.902C95.8538 126.292 94.2787 123.629 93.048 121.742C91.3669 119.165 90.3081 116.736 89.5638 113.782C89.2413 112.503 88.3864 112.471 87.6268 111.705C87.1387 111.213 86.8932 110.55 86.1932 111.266C85.3132 112.166 85.8986 114.657 86.0506 115.719C86.4114 118.247 87.595 122.137 86.4446 124.512C84.8917 127.717 80.7308 119.652 80.2434 118.487C79.9955 117.894 75.5686 106.523 73.9781 110.431ZM71.0712 55.5015C71.3334 55.5417 71.5952 55.5818 71.8574 55.6219C71.6461 55.8086 71.2065 56.4633 70.8474 56.2902C70.922 56.0274 70.9966 55.7646 71.0712 55.5015ZM84.9573 52.519C84.8754 52.6094 84.7927 52.6994 84.7105 52.7898C84.3346 52.3194 84.4678 51.6337 84.4678 51.0897C84.9646 51.3901 85.0859 51.991 84.9573 52.519ZM86.0795 57.738V59.2755C85.0385 58.824 85.018 58.5909 86.0795 57.738ZM87.3437 59.6929C86.6143 59.4926 86.5272 59.331 86.6297 58.2091C86.9319 58.8376 87.131 59.2518 87.3437 59.6929ZM91.5419 71.0794C91.2362 71.8666 89.4494 69.9906 89.515 69.4292C89.5774 68.8935 89.8518 68.7337 90.2304 69.0781C90.3555 69.1922 90.1697 69.6043 90.2495 69.7474C90.5379 70.2652 91.119 70.6889 91.5419 71.0794ZM91.5618 75.8224C91.1142 76.9412 90.3161 75.1793 91.4858 75.1311C91.5625 75.3562 91.5879 75.5865 91.5618 75.8224ZM90.6934 74.0584C90.5201 73.8271 90.3517 73.5926 90.1882 73.3539C90.7906 73.4757 91.2689 74.3543 91.9045 73.7681C91.8292 74.6621 91.1947 74.6869 90.6934 74.0584ZM51.7354 59.5264C50.7665 58.468 57.0841 57.7251 57.8462 57.5433C63.3769 56.2232 68.5987 54.313 73.77 51.969C76.2369 50.851 78.6913 49.7193 81.1004 48.4798C82.1407 47.9448 83.5666 47.4912 84.4354 46.6879C85.0556 46.1146 85.0308 45.6808 85.8369 45.3392C86.5213 45.0499 86.5554 45.3231 86.8688 44.7997C87.0571 44.4856 87.2701 43.3348 87.16 42.9942C86.8598 42.0649 86.416 42.8183 85.793 42.178C85.3443 41.7163 85.453 40.4035 85.5754 39.8598C85.7344 40.1188 85.8257 40.4 85.8501 40.7029C86.5261 40.3693 86.2535 39.2237 86.993 39.0359C87.7722 38.8384 87.6916 39.446 87.8949 40.0671C88.4837 39.2017 88.0117 38.4636 87.693 37.6185C89.3131 37.3149 91.0538 37.0207 92.6596 37.5602C93.8209 37.95 94.8149 38.9086 96.041 39.0939C97.2417 39.275 97.4725 38.7051 98.3577 38.1269C99.0762 37.6575 99.6933 38.2103 100.063 37.8558C99.8352 39.0527 97.8748 38.889 98.1161 40.3847C98.2249 41.0578 99.049 41.6625 99.4242 42.1863C99.8952 42.8438 100.271 43.5706 100.591 44.3115C101.839 47.1932 102.373 50.5373 102.896 53.6189C104.188 61.2255 104.352 68.9821 105.567 76.6132C106.146 80.2479 106.727 83.8847 107.027 87.5551C107.103 88.4728 107.663 90.5544 107.205 91.4372C106.817 92.1826 105.955 92.1847 105.199 92.3651C103.719 92.7172 102.329 93.1957 100.909 93.7257C99.6358 94.2007 99.2659 94.492 98.4487 93.2934C97.6583 92.1334 97.2675 90.7508 96.702 89.4792C95.9818 87.859 95.1116 86.2957 94.2762 84.7327C95.9173 84.7327 96.8617 83.846 96.8181 82.1769C96.7707 80.3282 95.2517 79.8895 94.6256 78.3702C94.0165 79.1619 93.9653 79.1843 93.5312 78.4326C93.0348 77.5731 92.6997 76.0004 92.3961 75.0254C92.6133 75.2574 92.8305 75.4895 93.0477 75.7212C93.5954 74.9668 92.7374 73.7775 92.4505 73.067C92.0077 71.9699 91.9296 70.7838 91.5095 69.6898C91.2804 69.0928 90.7498 68.6227 90.6198 67.9998C90.533 67.5828 90.8809 67.186 90.7983 66.7628C90.6547 66.0258 89.8218 65.235 89.5627 64.4855C89.1642 63.3325 88.7316 62.3174 88.2372 61.1941C87.5682 59.6737 87.7237 58.0782 87.6013 56.4601C87.4744 54.7823 86.9375 53.1771 86.7479 51.5067C86.6168 50.3526 87.0271 48.8996 86.1548 47.9752C86.0527 49.5117 86.4927 49.4879 85.0504 49.7643C83.4083 50.0787 82.2174 51.3032 80.6649 51.6686C80.3449 51.7439 80.1116 50.3446 80.2365 52.2534C79.4918 51.7031 77.9024 52.3864 78.4954 52.713C78.046 53.1942 77.1608 52.8613 77.013 53.5823C75.4856 52.096 73.0365 57.1549 71.2177 54.5161C70.9175 56.3045 69.6237 57.3618 67.8868 57.5984C67.0135 57.7171 66.4752 58.0084 65.7002 58.2705C65.543 58.3232 65.4851 58.5497 65.2989 58.6107C65.0144 58.7036 64.5968 58.4234 64.3918 58.4778C63.9745 58.5888 63.5104 59.1384 62.9279 59.2476C62.2599 59.3729 61.5313 59.3153 60.8626 59.2378C60.0266 59.1408 59.6587 59.0417 58.8402 59.3174C58.1038 59.5655 57.3152 60.2603 56.6319 59.5037C55.5585 61.3626 52.9992 60.9083 51.7354 59.5264ZM101.361 37.0943C100.549 36.997 101.113 36.2977 101.489 36.0876C102.511 35.5174 102.238 37.1997 101.361 37.0943ZM56.3806 43.765C61.1485 36.8801 69.3037 32.1496 76.4792 28.1694C80.3986 25.9954 84.3991 23.888 88.5144 22.1087C90.5605 21.2244 92.6304 20.3743 94.7197 19.5976C95.8353 19.1827 96.9646 18.8054 98.0945 18.43C98.4068 18.3263 98.9751 18.0081 99.3021 18.0391C99.2457 18.0335 100.115 18.2701 99.944 18.3445C100.504 18.1005 100.77 17.4644 101.428 17.21C102.168 16.9238 103.111 16.8055 103.903 16.7797C104.604 16.7567 105.211 17.0467 105.879 17.0694C106.318 17.084 106.691 16.8753 107.121 16.8446C107.341 16.8293 107.321 17.1587 107.454 17.1779C107.511 17.1863 108.097 16.9661 108.103 16.9699C108.316 17.107 108.505 17.6423 108.698 17.8514C109.251 18.4509 110.062 18.8686 110.8 19.184C111.697 19.5679 113.886 19.9538 112.872 21.3741C113.592 21.2705 113.928 21.9223 113.025 22.0874C112.537 22.1771 112.328 21.729 111.965 21.4233C111.126 20.7184 109.091 19.7148 107.883 19.7602C107.204 19.7857 106.679 20.3018 106.052 20.4892C105.436 20.6734 105.13 20.3876 104.589 20.433C103.957 20.4857 103.55 21.0213 102.947 21.1166C102.382 21.2059 102.068 20.8207 101.563 20.8475C100.964 20.8793 100.383 21.4006 99.8104 21.5758C98.8998 21.8543 98.2311 22.0441 97.3421 22.5058C95.6192 23.4009 93.6951 23.7407 91.9195 24.5112C90.4999 25.1272 88.8902 25.4513 87.5766 26.1325C86.1158 26.8894 84.6484 27.6435 83.218 28.466C82.1846 29.0603 80.0838 29.2648 78.9444 29.1137C78.928 31.2137 77.8954 29.7414 76.8547 30.6613C77.1009 30.8787 77.3805 31.0385 77.6925 31.1408C76.5647 31.5916 75.5222 32.1527 74.4296 32.6709C73.3004 33.2069 72.0955 33.3249 71.3536 34.3386C70.6703 35.2728 70.9018 34.7909 69.8821 35.1587C69.4142 35.3276 69.0073 35.8426 68.6702 36.1884C68.0908 36.7831 67.9625 37.6834 67.6316 36.4613C67.5351 36.6103 67.155 37.5591 67.0811 37.5832C66.6666 37.1428 66.607 37.6649 66.3752 37.8516C66.4972 38.2574 66.3229 38.5233 65.8522 38.6493C65.6141 38.8266 65.3728 39.0003 65.1291 39.1703C64.245 39.7841 63.1196 40.3107 62.497 41.2253C62.0378 40.9542 61.8677 40.4862 62.1473 40.0085C61.2698 40.8181 60.2228 41.6496 59.9854 42.8958C59.8763 42.7904 59.749 42.7143 59.6047 42.6675C59.2484 42.9083 59.7124 43.6258 59.9384 43.7873C60.9236 43.4042 59.6922 43.5431 60.3543 43.6048C60.5429 43.6223 60.7367 43.7636 60.9449 43.7661C61.5553 43.7741 62.1288 43.7448 62.734 43.6516C64.0686 43.4457 65.3802 43.0622 66.6722 42.6777C68.0793 42.2589 69.4867 41.8409 70.8628 41.3272C71.9958 40.9043 73.11 40.4328 74.2239 39.9631C74.6688 39.7754 75.1133 39.5852 75.5588 39.3989C76.405 39.045 76.8512 38.4636 76.733 39.4596C77.4069 39.3476 77.9909 38.3942 78.5083 38.0051C79.2362 37.4583 80.0548 37.0504 80.9173 36.7712C81.2667 36.6581 81.5233 36.5144 81.8844 36.5133C82.0615 36.513 82.1675 37.0127 82.2791 36.9855C83.0531 36.7977 82.7002 36.3685 83.0482 35.7501C83.8092 34.3986 85.8592 33.6512 87.1181 32.8835C87.9172 32.396 88.4844 31.7403 89.2221 31.2004C89.5673 30.9481 89.8179 30.8365 90.1795 30.7297C90.4563 30.6477 90.7959 31.2842 90.9754 30.6445C90.3315 30.3811 89.8005 30.0562 89.181 29.8639C88.7427 29.7275 89.2685 29.2609 88.574 29.5387C88.2951 29.6504 88.1992 30.1905 88.0967 30.4167C87.321 29.7233 85.14 30.4418 84.2196 30.7321C84.1561 30.752 83.872 30.602 83.7381 30.611C83.2068 30.6466 82.8369 31.3623 82.4872 31.6708C81.5574 32.4905 80.5488 32.8332 79.4039 33.3012C79.7086 31.6349 81.9479 30.9523 83.2549 30.3141C85.1654 29.381 86.9441 28.19 89.0359 27.6882C90.4291 27.3535 92.2751 27.0845 92.8768 28.7057C93.237 29.6776 93.2823 32.092 92.0638 32.5404C91.9352 32.0868 92.3473 31.6991 92.4714 31.3055C91.2585 31.7689 91.0587 33.2272 90.1376 33.9883C89.6199 34.4157 89.4348 34.5529 89.1845 34.966C88.9359 35.3764 88.8167 35.7592 88.2341 36.1958C87.282 34.1715 87.443 36.9443 86.9602 37.2922C87.1544 37.1523 86.1733 37.5609 86.2905 37.5176C86.2451 37.5344 85.8177 36.8413 85.5405 36.856C85.0361 36.8825 85.133 37.4384 84.89 37.7183C84.0662 38.6653 83.0018 39.2865 81.676 39.1375C81.6449 39.8113 81.8527 40.6164 80.9334 40.6778L80.8127 39.1839C80.3125 39.6906 79.6539 40.1718 79.2467 40.7584C78.7834 41.426 78.8329 41.837 78.0641 42.2819C77.2609 42.7471 75.5519 43.6635 74.5959 43.7427C74.8323 43.407 74.7905 43.1037 74.4711 42.8336C73.9904 43.3299 73.2805 43.3787 72.7687 43.8268C74.5454 44.5697 71.4038 44.5313 71.0054 44.6154C70.7386 44.672 70.5058 44.9152 70.2356 44.97C69.8768 45.0429 69.8305 44.6653 69.5216 44.785C69.0697 44.9602 69.2531 45.4547 68.7804 45.7031C68.4408 45.8818 67.8649 45.8794 67.4817 46.0489C66.5687 46.4537 64.6236 47.3502 64.0065 46.2629C63.6938 48.1284 60.5 46.9929 59.3178 46.8673C57.6987 46.6952 54.8786 45.9345 56.3806 43.765ZM63.181 24.6777C63.41 24.4819 63.6394 24.4962 63.8688 24.721C63.5495 23.0327 66.0196 22.213 67.0972 21.4952C68.5266 20.5432 70.2091 18.6962 72.0795 18.8424C71.7605 19.079 71.4422 19.3156 71.1235 19.5522C71.5785 19.6112 72.0331 19.6701 72.4874 19.7291C72.2311 20.106 71.9746 20.4825 71.7176 20.859C71.2979 18.5434 69.1077 21.4669 68.4739 21.893C67.8356 22.3219 67.199 22.6415 66.6317 23.1646C66.0698 23.6828 65.5625 24.6159 64.6334 24.1497C64.5487 25.4723 63.4864 25.1135 62.7518 25.846C62.7211 25.3864 62.984 25.0616 63.181 24.6777ZM72.8848 18.0758C75.1457 17.2281 77.1141 15.661 79.2446 14.5415C81.2796 13.4721 83.3557 12.5118 85.4245 11.5141C86.4738 11.0077 88.3962 9.69845 89.5959 10.3657C91.2146 11.2667 88.9861 11.5574 88.4074 11.8693C88.1933 10.4819 87.4434 11.7388 87.8914 12.5107C86.6562 11.9768 83.9623 14.0657 82.7839 14.6417C82.5172 14.7722 82.6368 14.8475 82.3335 15.0011C82.2589 15.0388 81.4856 15.215 81.2642 15.2893C80.1549 15.661 79.4238 15.3657 78.9458 16.7061C78.8458 16.3906 78.7457 16.0748 78.6456 15.759C77.9512 17.3199 75.8402 18.0032 74.4903 18.9262C74.1424 19.1642 73.1487 20.0872 72.7074 19.8963C72.0931 19.6304 72.3396 18.2799 72.8848 18.0758ZM113.67 22.7818C114.625 22.845 113.705 23.2906 113.967 23.5851C113.937 23.552 114.542 24.0681 114.462 23.9264C114.569 24.1169 114.825 24.1099 114.956 24.4973C115.408 25.8293 113.436 27.2056 112.772 27.9614C111.479 29.4316 110.732 31.2932 109.385 32.7163C108.776 33.3591 108.171 33.803 107.328 34.0427C106.737 34.2105 106.113 34.0308 105.571 34.5989C105.134 35.0564 105.233 35.3164 104.75 35.5596C103.899 35.9885 103.524 35.6123 102.697 36.5391C101.985 34.601 104.031 34.6042 105.099 33.521C106.573 32.0257 108.188 30.5172 109.57 28.9175C110.798 27.4962 111.29 26.2501 111.873 24.5235C112.057 23.9791 112.257 22.8118 112.764 22.4702C113.553 21.9384 113.079 22.7424 113.67 22.7818ZM118.364 73.1295C120.868 70.3267 123.973 67.81 127.34 66.1217C128.543 65.518 130.256 64.7259 131.503 65.6552C132.726 66.5659 132.463 68.383 131.97 69.619C131.497 69.4333 131.943 67.6962 131.698 67.267C131.163 66.3304 130.009 66.8277 129.224 67.1417C128.305 67.5095 127.484 67.9157 126.756 68.5833C126.46 68.8537 125.894 69.0962 125.705 69.2822C125.42 69.1639 125.253 69.2501 125.202 69.5405C125.261 69.7184 125.254 69.8936 125.181 70.066C125.14 70.1208 124.77 69.8961 124.717 69.9411C124.477 70.1466 124.253 70.3884 124.017 70.5793C123.543 70.9628 123.14 71.1443 122.704 71.6789C121.861 72.7121 120.747 73.3176 119.901 74.302C119.71 74.5246 119.481 75.0952 119.438 75.1451C119.01 75.6448 118.376 76.0402 117.894 76.5692C117.059 77.4831 116.169 78.0966 115.206 78.8803C114.792 79.2174 114.308 79.5807 114.032 80.0497C113.907 80.2636 113.836 81.4361 113.831 81.441C112.887 82.4767 113.071 80.3948 113.142 80.1338C113.909 77.325 116.501 75.2163 118.364 73.1295ZM113.211 92.1223C113.329 92.5633 113.425 92.928 113.544 93.3757C112.796 92.7612 112.796 92.7612 113.211 92.1223ZM112.403 93.5669C112.128 93.8444 111.851 94.12 111.573 94.394C110.96 93.746 112.515 93.456 112.403 93.5669ZM112.014 82.4135C111.721 83.5993 110.649 85.0367 109.912 85.9726C109.993 85.8693 109.283 86.0769 109.202 86.124C108.94 86.2762 109.568 87.2623 108.659 86.8216C108.336 87.0044 108.971 87.7491 108.533 88.0824C107.265 85.1912 110.726 82.6864 112.067 80.5403C112.722 81.1426 112.179 81.7488 112.014 82.4135ZM103.78 98.0448C104.705 98.2828 105.185 98.1331 105.809 97.2244C106.184 96.6786 106.322 95.712 107.18 96.5285L107.331 95.4785C108.556 95.9814 108.453 97.7988 108.988 98.8058C109.248 97.6665 109.865 94.4837 111.754 94.9942C113.874 95.5675 110.345 99.2169 110.017 100.111C109.297 98.9915 109.58 100.033 109.03 100.191C108.559 100.326 107.822 99.9787 107.249 100.01C105.505 100.105 103.973 100.89 102.38 101.555C101.977 100.467 101.573 99.3781 101.17 98.2897C102.108 98.362 104.047 95.8634 104.322 97.6794C103.627 97.5583 103.431 97.589 103.092 98.2227C103.309 98.1128 103.538 98.0535 103.78 98.0448ZM107.695 112.251C107.692 112.242 109.499 112.354 109.66 112.295C110.896 111.843 110.439 110.44 110.692 109.448C111.201 109.917 110.931 110.773 111.088 111.38C111.273 112.093 111.807 112.701 111.856 113.463C111.969 115.187 110.556 114.805 109.485 115.362C108.57 115.839 108.468 116.438 107.695 115.154C107.486 114.806 107.037 113.901 107.083 113.456C107.128 113.016 107.825 112.65 107.695 112.251ZM109.151 119.709L108.651 119.149C110.14 119.605 109.262 118.919 109.604 117.982C110.747 118.743 111.679 119.526 112.583 118.001L114.144 124.307C113.095 124.554 111.742 122.932 111.022 122.374C110.607 122.052 108.301 120.812 109.685 120.45C109.507 120.203 109.329 119.956 109.151 119.709ZM119.346 99.9086C118.479 100.734 117.606 101.196 116.662 101.845C115.834 102.414 116.119 103.068 115.401 103.703C114.924 104.125 113.807 104.555 113.218 104.877C112.169 105.451 111.23 105.56 110.151 104.918C110.444 107.284 108.825 107.469 106.81 107.938C105.848 108.162 105.279 108.503 104.587 107.622C104.112 107.019 103.926 105.927 104.517 105.376C105.454 104.499 107.952 104.802 109.154 104.25C110.067 103.832 110.997 101.476 112.123 102.334C111.542 101.407 112.219 101.158 112.724 100.497C113.277 99.7732 113.617 98.9266 114.189 98.2084C115.277 96.8433 116.947 95.4702 118.492 94.647C119.851 93.9229 120.565 94.4355 120.769 95.9563C120.871 96.7208 120.867 97.8598 120.439 98.5382C120.303 98.7546 119.853 98.757 119.717 98.9601C119.479 99.315 119.697 99.5743 119.346 99.9086ZM135.297 81.5558C136.382 82.3961 136.276 84.1618 136.447 85.3643C136.688 87.0592 136.513 88.6993 136.487 90.4256C136.46 92.2343 135.574 93.4124 135.156 95.1076C134.693 96.9934 134.094 97.9921 133.054 99.5746C134.182 99.7522 132.503 103.125 132.226 103.561C131.925 104.035 129.502 106.219 130.541 106.219C129.968 106.975 129.344 107.752 128.773 108.487C128.548 108.777 128.154 108.891 127.976 109.095C127.616 109.511 127.594 109.881 127.335 110.366C126.943 111.102 126.814 110.906 126.299 111.44C125.943 111.809 125.709 112.296 125.359 112.649C124.233 113.788 124.089 112.855 123.459 111.978C123.362 112.213 123.191 112.36 122.944 112.42C122.747 111.427 124.105 110.425 124.676 109.822C125.612 108.834 126.467 107.745 127.294 106.664C129.065 104.348 130.656 101.888 131.912 99.2529C133.248 96.4483 134.315 93.4131 134.869 90.3534C135.292 88.0213 135.693 84.0208 132.58 83.4276C130.316 82.9963 127.82 84.3733 125.953 85.4882C124.815 86.1673 123.672 86.8425 122.588 87.6064C121.412 88.4348 120.395 89.6073 119.118 90.2721C119.817 89.9085 117.513 91.0028 117.865 90.695C117.7 90.8388 117.843 91.2781 117.734 91.4763C117.591 91.7342 117.097 91.989 116.875 92.1558C116.29 92.5961 115.354 93.0466 115.088 93.7739C111.373 91.1211 118.76 86.4116 120.654 85.2122C124.411 82.8333 130.947 78.1852 135.297 81.5558ZM145.318 55.7563C145.283 53.8461 146.837 51.2383 147.887 49.6806C148.4 48.9181 149.22 48.9484 149.521 48.0492C149.695 47.5313 149.467 46.9883 149.519 46.4684C149.589 45.7652 149.893 45.2013 150.245 44.5969C153.422 39.1333 157.282 34.2974 161.393 29.5307C163.421 27.1808 165.343 24.7405 167.529 22.533C168.442 21.6111 170.897 18.2966 172.301 18.6282C173.045 18.8037 173.478 19.9395 173.813 20.5192C174.368 21.4778 174.979 22.3756 175.653 23.2571C177.434 25.5843 179.488 27.6271 181.913 29.2766C183.428 30.3074 184.958 31.3093 186.439 32.3893C187.658 33.2781 189.501 34.2943 190.372 35.5422C191.243 36.7904 189.964 37.8474 189.265 38.8838C188.178 40.4956 187.179 42.1657 186.088 43.7758C185.655 43.4639 185.767 42.8302 185.47 42.4306C185.206 42.0764 184.834 41.9323 184.47 41.7135C183.772 41.2951 183.087 40.7835 182.457 41.4846C181.355 42.7115 182.871 45.6117 184.505 45.2935C184.698 46.5043 181.434 48.4986 180.616 49.1651C178.106 51.2093 175.517 52.9866 172.201 53.1715C170.859 53.2462 169.463 53.1443 168.188 52.6949C167.577 52.4795 166.902 52.184 166.433 51.7146C165.873 51.1528 165.73 50.3167 165.186 49.7605C164.714 49.2779 164.067 49.2035 163.595 48.7192C163.123 48.2345 162.89 47.4689 162.699 46.8411C162.324 45.6145 162.253 44.3209 161.894 43.0915C161.677 42.3521 161.499 41.3635 160.793 42.074C159.768 43.1062 160.283 46.3518 160.545 47.5886C160.921 49.3529 161.801 50.7752 162.723 52.2932C163.723 53.9399 164.092 55.4673 164.272 57.3726C164.607 60.9393 165.63 64.3619 167.221 67.5709C167.89 68.9221 168.693 70.1927 169.416 71.5128C169.754 72.1287 170.51 74.2301 171.429 74.219C172.897 74.2008 170.806 69.9166 170.516 69.1974C168.908 65.2141 167.372 61.0273 167.028 56.7142C169.333 57.3084 171.845 57.8724 174.232 57.4958C172.691 60.9442 174.3 64.3776 174.103 67.9272C174.005 69.7073 173.934 71.3495 173.971 73.1243C174.003 74.6806 173.301 76.2363 172.694 77.6436C171.488 80.4384 169.971 83.8861 167.732 86.027C165.86 87.8168 163.356 87.9567 160.91 87.5446C155.347 86.6066 151.692 82.3259 149.357 77.4643C147.857 74.3411 146.71 71.0071 145.998 67.6153C145.174 63.6898 145.391 59.7379 145.318 55.7563ZM152.543 29.3014C147.351 25.5414 154.896 21.2715 158.736 21.8529C159.637 21.989 161.294 22.3617 161.21 23.5383C161.141 24.5001 159.538 25.5721 158.923 26.1657C157.168 27.8595 155.383 31.3571 152.543 29.3014ZM190.312 112.848C190.134 112.688 188.681 113.08 189.256 112.22C189.735 111.505 191.061 112.401 191.543 112.585C191.146 112.859 190.8 113.285 190.312 112.848ZM168.694 158.324C168.247 158.379 167.781 157.174 169.39 158.074C169.158 158.157 168.926 158.241 168.694 158.324ZM168.648 177.957C168.703 178.496 168.868 178.852 168.485 179.245C168.161 178.845 168.119 178.282 168.648 177.957ZM169.301 186.068C169.253 186.362 169.206 186.656 169.159 186.95C168.787 186.761 168.416 186.573 168.045 186.385C168.463 186.28 168.882 186.174 169.301 186.068ZM169.755 179.228C170.309 179.435 170.051 178.773 170.453 178.68C170.597 179.369 170.42 179.96 170.024 180.529C169.986 180.395 169.783 179.238 169.755 179.228ZM183.904 130.278C183.127 130.179 183.01 131 182.431 131.319C182.057 131.525 180.919 131.37 180.707 131.764C180.987 131.845 181.268 131.927 181.548 132.007C180.906 132.354 180.264 132.7 179.623 133.046C181.166 133.046 182.775 132.308 184.308 132.525C184.956 132.617 185.432 132.836 185.838 133.364C186.085 133.684 186.302 134.199 186.341 134.592C186.384 135.016 186.054 135.309 186.112 135.511C186.803 135.53 186.722 136.665 186.567 137.127C186.23 138.13 184.894 139.7 183.696 139.064C184.197 139.775 184.07 140.181 183.329 140.594C183.396 140.359 183.446 139.948 183.067 139.989C182.97 140.383 183.007 141.008 182.685 141.305C182.325 141.638 182.004 141.249 181.659 141.466C181.251 141.722 181.374 142.126 181.053 142.404C180.628 142.772 180.567 142.51 180.06 142.582C179.291 142.691 179.782 142.213 179.166 142.836C178.953 143.051 178.989 143.61 178.644 143.925C177.981 144.529 176.211 145.159 175.576 144.384C174.049 146.807 169.471 147.388 167.34 145.476C163.941 142.425 170.278 136.222 172.37 134.256C174.47 132.283 176.803 130.578 179.162 128.934C180.503 127.999 181.879 127.151 183.284 126.318C184.151 125.804 185.239 124.866 186.304 124.956C187.26 125.037 188.076 125.779 189.082 125.925C189.809 126.032 191.222 126.207 190.304 127.194C189.875 127.656 188.19 128.402 187.616 128.514C187.279 128.58 186.924 128.454 186.59 128.522C186.024 128.638 185.636 129.116 185.02 129.055C185.215 129.969 184.86 130.399 183.904 130.278ZM193.962 96.3488C193.962 97.0639 192.658 96.8855 192.386 96.6427C191.938 96.2431 191.922 95.0483 191.756 94.5049C192.514 94.6958 193.961 95.3944 193.962 96.3488ZM183.458 72.76C186.197 70.5067 189.077 68.4409 192.121 66.6214C193.211 65.9699 194.75 64.6558 196.105 64.8198C196.672 64.8889 197.847 65.5418 197.419 66.2617C197.339 66.3964 196.707 66.4504 196.512 66.5482C196.29 66.6588 196.117 66.9638 195.911 67.1145C194.489 68.1589 192.78 68.8007 191.353 69.8702C190.18 70.7486 189.087 71.7312 187.824 72.485C186.613 73.2077 185.348 73.6652 184.198 74.4657C184.22 74.4496 182.702 74.9961 183 75.0955C181.667 74.6492 183.075 73.0758 183.458 72.76ZM201.719 71.9207C203.346 71.2717 204.938 70.4841 206.641 70.0479C207.491 69.8301 208.364 69.6664 209.244 69.7645C209.393 69.5024 209.592 69.4445 209.841 69.5907C210.036 69.8894 210.291 70.1187 210.609 70.2789C211.095 70.6522 212.881 71.1404 212.524 71.965C212.288 72.5105 210.497 72.5558 210.005 72.6783C208.523 73.0478 207.141 73.8791 205.615 74.0832C205.471 74.1024 205.003 73.9286 204.998 73.9297C204.402 74.0598 203.907 74.6785 203.395 74.9751C202.293 75.6134 200.71 75.7205 199.919 76.8222C202.481 78.5603 204.704 76.8365 206.956 75.5241C208.305 74.7382 209.753 74.1711 211.228 73.6672C211.998 73.4041 212.775 73.1306 213.556 72.8995C213.88 72.7816 214.212 72.6968 214.553 72.6448C214.87 72.5816 215.097 72.6971 215.234 72.9917C216.178 72.9603 216.259 72.3674 216.827 73.4732C217.628 75.0324 216.403 74.9532 215.251 75.1447C213.653 75.4099 212.029 76.0074 210.455 76.4034C210.092 76.4949 206.908 77.2336 206.905 77.2598C206.76 78.2655 215.896 77.3341 216.681 77.1834C218.065 76.9168 219.549 76.1599 220.982 76.3424C222.083 76.4823 224.589 78.098 222.834 79.1714C222.488 77.5159 221.302 78.8831 220.683 79.4418C219.858 80.1854 218.676 80.1139 217.545 80.4053C215.998 80.8031 212.037 82.2959 210.938 80.3927C211.286 82.0607 204.972 81.2131 204.104 81.158C203.258 81.1039 202.166 81.284 201.348 81.0425C200.814 80.8851 200.518 80.5379 200.016 80.4597C199.892 80.5923 199.745 80.6827 199.573 80.7305C199.319 80.6017 199.089 80.4377 198.884 80.2392C197.193 79.4614 194.577 79.0314 195.517 76.5535C196.403 74.2165 199.57 72.7785 201.719 71.9207ZM217.567 73.365C217.61 73.2195 217.652 73.074 217.694 72.9282C217.699 73.3745 218.762 73.565 218.639 74.1432C218.367 75.4236 217.14 73.4997 217.035 73.29C217.213 73.3151 217.39 73.3399 217.567 73.365ZM224.06 75.4923C224.183 76.0168 225.597 77.1335 225.246 77.391C224.689 76.6324 223.148 76.9768 224.06 75.4923ZM200.207 123.348C200.725 122.321 202.29 124.071 202.125 122.316C202.976 122.393 202.444 123.041 203.464 122.757C203.846 122.65 204.105 122.226 204.57 122.128C204.695 122.102 205.231 122.145 205.416 122.139C206.029 122.12 208.433 122.052 206.779 121.247C207.705 120.634 207.819 120.945 208.654 121.506C208.44 120.346 209.67 121.004 210.242 121.149C209.834 120.487 210.847 119.783 211.176 119.336C211.058 120.025 211.12 120.797 212.116 120.356C212.364 120.246 212.309 119.759 212.506 119.679C212.866 119.534 213.068 119.799 213.197 119.784C213.324 119.77 213.592 119.841 213.86 119.74C214.207 119.609 214.04 119.142 214.48 119.073C214.767 119.028 214.977 119.45 215.327 119.454C215.507 119.455 215.807 119.273 215.944 119.282C215.968 119.284 216.139 118.871 216.349 118.861C216.657 118.846 216.782 119.67 216.894 119.831C217.433 120.595 218.148 121.093 218.974 121.501C217.48 122.871 214.467 122.726 212.589 123.188C211.572 123.439 210.704 123.8 209.773 124.265C209.549 124.412 209.355 124.591 209.194 124.804C209.062 124.716 208.93 124.628 208.798 124.541C208.288 124.572 207.805 124.32 207.231 124.417C205.458 124.716 204.069 126.046 202.267 126.342C201.457 126.475 200.791 126.661 200.264 125.959C199.801 125.342 199.877 124.004 200.207 123.348ZM197.776 115.157C198.178 115.498 197.694 116.605 198.472 116.485C199.024 116.399 198.914 115.542 199.348 115.36C199.918 115.122 200.261 115.687 200.797 115.635C201.795 115.537 201.738 114.664 200.894 114.281C201.771 114.049 202.052 115.087 202.829 115.078C203.848 115.066 203.605 113.861 204.473 113.662C204.849 113.575 204.723 114.128 204.967 114.196C205.455 114.333 205.795 114.098 206.226 113.891C206.613 113.705 206.888 113.347 207.31 113.226C207.502 113.17 207.99 113.272 208.131 113.169C208.415 112.962 208.67 112.154 208.949 112.047C208.892 112.069 209.809 112.529 209.94 112.572C209.86 112.913 209.673 112.954 209.38 112.694C209.38 113.463 211.517 113.703 211.079 112.752C212.234 113.231 211.374 113.477 211.258 114.146C211.212 114.414 211.056 114.407 211.102 114.691C211.124 114.822 211.729 114.709 211.722 114.888C211.671 116.036 208.014 116.389 207.321 116.49C205.887 116.7 204.53 117.053 203.147 117.487C202.117 117.811 200.343 118.737 199.247 118.68C197.672 118.597 197.467 116.54 197.776 115.157ZM194.255 103.439C193.871 102.161 195.104 99.5223 196.709 99.852C197.103 99.933 197.201 100.26 197.507 100.405C197.934 100.609 198.629 100.502 199 100.712C199.831 101.182 199.412 102.382 200.245 102.815C198.93 103.134 194.866 105.469 194.255 103.439ZM195.776 108.402C196.343 108.098 197.261 108.058 197.647 107.473C197.839 107.606 198.203 108.415 198.547 108.291C198.708 108.234 198.875 107.795 198.863 107.795C199.17 107.787 199.231 107.37 199.701 107.417C200.132 107.46 200.614 107.979 200.998 108.172C200.932 106.887 201.262 106.764 202.303 106.076C202.531 105.925 202.722 105.359 202.933 105.13C202.731 106.479 203.239 106.486 204.315 106.689C205.664 106.943 206.505 107.668 207.046 108.973C205.896 108.749 204.413 109.019 203.96 110.256C203.042 108.578 199.707 110.893 198.628 111.368C197.827 111.72 196.896 112.193 196.224 111.373C195.751 110.795 196.022 110.1 196.032 109.586C196.035 109.425 196.201 109.416 196.186 109.175C196.167 108.869 195.768 108.747 195.776 108.402ZM208.052 134.791C207.748 134.906 206.185 134.97 206.175 134.452C206.167 133.994 208.934 134.456 208.052 134.791ZM205.513 133.114C204.331 133.844 203.007 131.273 202.573 130.532C203.813 130.691 204.419 129.653 205.149 128.863C205.845 130.388 206.9 129.582 208.011 129.073C209.32 128.473 210.755 128.468 212.097 127.986C212.515 127.836 212.901 127.612 213.31 127.44C213.639 127.317 213.967 127.19 214.294 127.061C214.526 126.852 214.608 126.594 214.541 126.288C214.431 126.031 214.506 125.869 214.765 125.802C215.074 125.894 215.39 125.948 215.712 125.962C216.229 125.86 216.972 125.371 216.348 124.845C217.016 124.237 217.686 124.842 218.33 125.108C218.177 124.671 218.025 124.235 217.871 123.798C218.191 123.934 219.139 125.26 219.236 125.253C219.849 125.207 219.785 124.383 220.137 124.051C220.34 124.302 220.398 126.173 221.197 125.543C221.539 125.273 220.803 124.356 220.622 124.147C221.536 124.353 222.334 125.445 222.581 126.293C222.147 126.356 221.746 126.269 221.378 126.031C221.142 127.212 223.326 126.733 223.679 127.35C224.372 128.558 219.868 129.397 219.281 129.509C218.107 129.733 216.721 129.816 215.645 130.337C214.614 130.836 214.37 130.979 213.165 131.072C211.79 131.179 210.448 131.633 209.117 131.986C207.962 132.292 206.537 132.483 205.513 133.114ZM230.65 89.8816C231.736 89.4904 235.393 87.4605 236.325 88.3633C236.226 88.2677 236.996 89.8596 236.988 89.7595C237.054 90.5875 237.034 90.9208 236.016 91.3176C235.286 91.6016 234.651 90.9979 233.995 91.2376C233.274 91.5011 233.779 91.9673 233.408 92.2929C233.001 92.6499 232.217 92.8041 231.711 92.9605C230.473 93.3433 229.225 93.6633 227.993 94.0757C225.485 94.915 222.829 95.6959 220.252 96.2895C218.326 96.733 215.058 97.8354 213.283 96.5334C213.11 97.2736 212.687 97.1724 212.099 97.2802C211.638 97.3647 210.804 97.5932 210.394 97.6051C209.711 97.625 207.814 97.446 208.076 96.4881C208.004 96.7519 209.551 95.8488 209.283 95.7926C209.94 95.9311 209.727 95.6 210.266 95.4157C210.969 95.1753 211.704 95.1882 212.422 94.9335C214.231 94.2914 215.749 93.4581 217.659 93.0557C222.023 92.1369 226.44 91.3978 230.65 89.8816ZM55.7415 188.843C55.388 188.853 55.1129 187.847 56.1885 188.565C56.0396 188.658 55.8907 188.751 55.7415 188.843ZM47.2453 187.542C46.7646 187.666 46.5728 187.397 46.6708 186.737C47.3412 186.472 47.5326 186.74 47.2453 187.542ZM40.6862 186.196C40.5631 185.607 40.9989 185.475 41.3939 185.211C41.3541 185.99 41.3541 185.99 40.6862 186.196ZM24.1826 181.354C23.5177 181.208 22.6319 180.557 22.4795 181.65C22.3683 181.397 21.8007 180.207 22.0444 179.932C22.1717 179.788 22.6535 180.454 22.6022 180.388C23.1841 179.21 24.1871 180.632 24.7477 181.052C24.5594 181.153 24.3708 181.254 24.1826 181.354ZM197.04 51.1594C197.27 50.6737 197.541 50.5195 197.852 50.6971C197.363 51.8333 195.707 52.4492 197.04 51.1594ZM208.542 40.4939C208.952 41.2633 208.335 41.5886 207.895 42.2282C208.152 41.5383 208.331 41.0602 208.542 40.4939ZM258.528 115.605C260.007 115.605 263.157 114.823 264.049 116.515C264.64 115.366 265.31 117.522 265.822 117.868C265.88 117.907 266.249 117.624 266.42 117.728C266.679 117.885 266.902 118.312 267.05 118.566C267.497 119.331 267.689 120.24 267.937 121.082C265.353 121.082 262.705 120.48 260.124 120.261C258.43 120.117 256.769 120.113 255.073 120.204C254.736 120.222 254.066 120.111 253.778 120.175C253.485 120.239 252.954 120.836 252.631 120.74C253.133 121.683 259.558 123.965 260.048 122.921C259.467 122.569 258.177 122.299 258.178 121.449C258.179 120.497 259.388 120.498 260.029 120.526C261.431 120.588 263.778 121.055 264.352 122.513C264.598 123.139 264.674 124.713 264.403 125.317C264.229 125.707 263.933 126.175 263.465 126.255C263.273 126.287 262.996 126.031 262.966 126.038C262.005 126.242 260.225 127.015 259.176 125.925C258.42 126.904 254.778 125.834 253.662 125.465C251.712 124.819 249.027 123.931 247.842 122.11C246.398 119.89 249.334 118.013 251.019 117.111C253.324 115.878 255.956 115.606 258.528 115.605ZM268.371 120.738C268.824 120.866 269.277 120.995 269.731 121.123C269.609 121.918 267.821 121.289 268.371 120.738ZM282.075 149.659C282.214 146.471 281.294 143.664 280.762 140.581C280.63 139.816 280.765 138.48 280.185 137.852C279.631 137.251 278.394 137.739 278.345 136.677C277.799 137.317 277.854 137.451 277.182 136.715C277.305 137.03 277.322 137.351 277.235 137.678C276.818 137.438 275.306 136.643 275.433 137.73C274.189 137.455 274.549 136.677 273.84 136.082C273.739 135.998 273.334 136.298 273.176 136.17C272.891 135.938 272.75 135.728 272.51 135.43C272.204 135.8 271.788 136.068 271.414 136.36C271.197 135.887 270.774 135.539 270.265 135.424C270.741 136.419 271.915 137.708 270.304 138.274C269.342 138.612 267.767 138.198 266.748 138.277C262.972 138.57 258.837 137.746 255.186 136.846C251.436 135.921 247.644 134.616 244.271 132.707C243.552 132.301 243.099 131.819 242.48 131.314C241.878 130.824 241.441 130.746 240.717 130.433C239.415 129.868 238.224 128.962 237.234 127.953C235.104 125.783 233.125 122.945 233.718 119.768C234.309 116.601 236.484 114.126 238.811 112.041C241.56 109.578 244.663 107.521 247.956 105.864C249.429 105.123 253.195 102.339 254.65 103.968C255.58 105.008 255.057 106.336 253.787 106.567C253.473 106.625 253.146 106.414 252.829 106.558C252.372 106.766 252.533 107.012 252.344 107.185C252.017 107.487 251.669 107.956 251.18 108.217C249.473 109.128 247.822 109.85 246.19 110.96C245.438 111.471 244.714 111.691 244.051 112.137C243.391 112.581 243.241 113.315 242.354 112.862C242.67 114.153 240.773 115.536 240.03 116.327C238.879 117.552 237.498 119.115 238.035 120.927C239.087 124.475 243.839 127.169 246.88 128.729C250.676 130.674 254.861 132.223 259.087 132.865C261.188 133.183 263.359 133.38 265.476 133.582C267.124 133.739 269.652 133.163 270.838 134.649C270.875 132.917 276.28 133.069 277.43 132.848C275.124 124.956 270.595 117.94 265.753 111.384C263.377 108.166 261.043 104.856 258.334 101.906C255.369 98.6767 251.981 95.7905 248.762 92.8188C242.448 86.9901 235.308 81.7882 228.041 77.2057C220.792 72.634 213.284 68.1345 205.342 64.8749C196.271 61.1522 186.721 58.7036 177.16 56.6182C178.457 54.9641 180.567 54.1573 182.227 52.9472C182.809 52.5235 183.595 51.5067 184.35 51.3678C185.168 51.217 185.812 52.0978 186.394 52.5399C188.065 53.8087 189.22 53.2699 191.134 53.1935C192.28 53.1478 194.992 53.7861 195.475 52.2356C196.117 53.0913 195.186 53.7773 194.709 54.4048C195.056 54.8891 195.335 54.3866 195.678 54.3109C195.784 54.2233 195.889 54.1354 195.995 54.0478C196.165 53.8014 196.318 53.8 196.455 54.0429C196.659 54.3507 196.865 54.2826 197.072 53.8384C197.129 53.8028 197.185 53.7669 197.242 53.7313C197.489 53.5994 197.728 53.3907 197.958 53.2263C199.698 51.9823 201.248 50.9225 203.168 50.0061C204.78 49.237 203.913 47.7655 204.976 46.7263C205.216 46.4911 205.621 46.609 205.878 46.4098C206.13 46.214 206.168 45.9921 206.352 45.7823C206.794 45.2781 206.268 44.6929 207.395 45.3102L206.988 43.0207C209.197 45.1661 209.189 38.9923 209.491 38.0787C209.451 38.1995 209.689 37.2646 209.689 37.2726C209.754 35.42 210.006 34.0772 207.839 33.9698C208.659 33.4529 208.91 34.4621 209.289 33.4174C209.479 32.8939 208.886 31.9943 209.831 32.3317C210.03 31.2193 209.833 30.319 209.585 29.2379C209.332 28.1313 209.481 27.3929 209.492 26.2864C209.505 25.0312 208.918 23.7697 208.73 22.5337C208.583 21.5657 208.735 20.039 207.485 20.3946C207.309 20.1193 207.926 19.2723 207.901 18.8536C207.862 18.2031 207.157 17.5422 206.957 16.9176C206.663 17.2212 206.249 17.3224 205.849 17.1852C206.225 16.3365 205.872 16.0514 205.513 15.3197C205.307 14.9006 205.431 14.4379 204.99 14.1376C204.737 13.9652 204.306 14.2555 204.108 14.0535C203.684 13.6207 203.841 13.0467 203.549 12.4765C203.182 11.7615 202.345 11.2154 201.768 10.6787C198.526 7.66194 195.004 5.35637 190.691 4.17759C186.339 2.98834 181.266 2.56226 176.93 3.93401C175.196 4.48223 173.658 4.42605 172.097 5.44989C171.592 5.7821 171.537 5.69311 171.28 6.24691C171.221 6.37602 171.76 6.71975 171.43 6.93087C171.071 7.16013 170.676 6.69393 170.493 6.30693C168.236 7.94215 166.121 10.1221 164.836 12.6217C163.558 15.1054 163.441 18.0234 162.953 20.7226C160.704 18.1501 157.661 16.9169 154.353 18.1536C151.469 19.2312 149.235 21.5999 148.671 24.6686C148.327 26.5394 148.702 28.4339 149.551 30.1218C149.918 30.8511 150.363 31.6586 151.038 32.1496C151.572 32.5376 152.486 32.4832 152.737 33.1832C153.122 34.2556 150.897 36.5716 150.32 37.5103C149.275 39.209 148.304 40.9632 147.565 42.8186C144.915 39.0719 142.378 34.9796 139.365 31.525C136.521 28.2643 133.131 25.34 129.806 22.5839C122.905 16.8638 115.73 11.49 108.01 6.93296C100.823 2.68963 92.1402 0.333811 83.7632 1.16677C75.5784 1.98089 69.312 7.16223 64.039 13.1381C53.9 24.6281 47.6902 41.0051 47.0836 56.3003C46.9012 60.895 47.2509 65.4297 48.3847 69.8863C48.9247 72.0083 48.8462 74.0954 49.16 76.2447C49.5142 78.6692 50.1268 81.0851 50.7191 83.4601C52.9755 92.5075 55.8503 101.548 59.0762 110.296C60.7535 114.845 62.7829 119.292 65.5283 123.303C66.7963 125.156 68.4391 126.606 69.8036 128.365C71.1274 130.071 71.477 132.166 71.7682 134.26C72.4661 139.28 72.9291 144.322 73.3489 149.372C73.527 151.512 73.7351 153.633 74.0182 155.758C74.2651 157.611 73.6442 157.52 72.0868 158.149C72.4027 156.484 64.9622 157.617 64.2597 157.731C63.4951 157.854 62.6856 157.856 62.0835 157.955C61.4103 158.064 60.7514 158.223 59.976 158.201C58.8363 158.168 56.7023 157.876 56.2673 159.333C55.9678 157.644 53.9896 159.49 55.4532 159.177C53.9509 159.345 52.418 159.065 50.8976 159.207C49.1551 159.369 47.3977 159.523 45.6674 159.786C44.4629 159.968 43.3134 160.433 42.1068 160.567C40.5627 160.74 38.9514 160.724 37.3923 160.861C31.6416 161.369 25.681 162.625 20.091 164.062C18.8248 164.388 17.3699 164.619 16.1602 165.142C15.8363 165.282 15.5448 165.594 15.2346 165.714C14.7144 165.915 14.7855 165.777 14.3236 165.869C11.5558 166.422 8.70049 167.327 5.93304 168.037C4.39801 168.431 1.9011 168.786 0.648952 169.858C0.0876529 170.338 -0.402872 171.19 0.4966 171.736C1.21513 172.172 2.24067 171.476 2.82219 171.1C2.30412 172.451 1.32704 173.125 1.85473 174.662C2.27135 175.877 3.21196 177.375 4.65914 176.591C4.85298 177.042 4.93142 177.94 5.50213 178.106C6.01497 178.255 6.38626 177.604 6.88864 177.757C7.06854 177.812 7.00021 178.152 7.16127 178.241C7.43879 178.394 7.72013 178.459 8.03809 178.567C8.31141 178.66 8.75139 178.85 9.03657 178.87C9.21751 178.883 9.64389 178.574 9.64249 178.574C10.0581 178.637 10.2815 179.433 10.5807 179.663C10.969 179.961 11.2898 180.029 11.7761 180.138C12.7872 180.362 14.0904 180.748 14.7576 179.711C14.6049 180.451 15.61 180.379 16.0535 180.473C16.0043 180.083 15.7892 179.726 15.4573 179.512C16.4489 179.577 16.0469 180.564 16.7797 180.825C17.302 181.01 17.2427 180.539 17.6422 180.487C18.1687 180.418 18.5682 180.8 19.3903 180.447C19.5684 181.24 19.6336 182.039 20.6059 182.157C21.1767 182.227 22.5074 181.195 22.4321 182.054C23.707 181.68 24.1909 181.933 24.8572 183.057C24.9698 182.367 25.5147 182.567 26.0146 182.524C26.8071 182.457 26.8273 182.521 27.4416 182.071C27.4977 182.031 27.9809 180.923 28.1957 181.611C28.2923 181.92 27.6539 182.646 27.4175 182.83C27.7111 182.979 28.673 183.499 29.0429 183.403C29.3629 183.321 29.364 182.773 29.7485 182.745C29.6544 183.06 29.5606 183.375 29.4661 183.69C30.2143 183.798 30.8394 183.297 31.4303 182.93C31.9937 184.356 33.604 183.553 34.4798 184.626C34.9431 185.194 34.9647 185.625 35.8475 185.773C36.7508 185.925 37.5397 185.528 38.3074 186.274C38.0641 185.811 37.4578 185.427 38.0603 184.93C38.4702 185.513 38.6819 186.214 39.1546 186.756C39.2198 186.48 39.285 186.205 39.3502 185.929C40.5826 187.249 42.134 187.26 43.7126 187.992V187.026C44.8429 188.753 44.9032 187.66 46.2535 186.955C46.1618 187.463 46.0697 187.97 45.978 188.478C46.9497 188.404 47.8575 189.557 48.6552 188.578C49.137 189.387 49.721 188.989 50.5106 189.245C50.9597 189.392 51.294 189.834 51.7308 189.994C52.3859 190.234 52.5815 190.223 53.1982 190.432C53.7466 190.618 54.0583 190.979 54.7448 191.095C55.1907 191.171 55.5951 191.165 56.0218 191.144C56.1867 191.136 56.1323 190.765 56.4987 190.852C57.0653 190.986 57.4871 191.697 57.895 192.062C58.5086 190.518 60.2267 192.586 61.0571 192.861C61.1366 192.466 61.1223 191.989 61.4085 191.663C61.7446 192.4 61.8729 193.02 62.5705 193.494C62.9732 193.768 63.5645 193.964 64.0296 194.064C64.3235 194.128 64.8576 194.052 65.0423 194.143C65.3575 194.297 65.4736 194.71 65.7919 194.749C65.9791 194.771 66.2566 194.278 66.3968 194.317C67.0383 194.492 67.3946 195.272 68.0423 195.694C69.9699 196.949 72.3957 197.071 74.5433 197.346C75.0823 197.415 75.1604 197.268 75.5982 197.584C75.8318 197.753 75.7258 198.268 76.0131 198.412C77.0956 198.955 77.0963 197.796 77.3233 197.076C77.6813 197.549 77.743 198.173 78.2329 198.55C78.5003 198.542 78.768 198.548 79.0351 198.568C79.1857 198.74 79.2847 198.938 79.3307 199.163C79.9792 199.602 80.7137 199.449 81.3835 199.778C81.6031 199.886 81.9922 200.538 82.2627 200.726C82.747 201.061 83.4958 201.241 84.0491 201.387C85.2094 201.692 86.873 201.286 87.5633 202.499C88.4799 201.515 88.1253 202.69 88.7476 202.936C89.1151 203.082 89.6677 202.503 90.0752 202.561C90.8091 202.664 91.0734 203.459 91.3083 204.037C91.7553 203.938 91.4485 202.672 91.4359 202.394C91.9913 202.329 92.1147 203.793 92.2106 204.114C93.0874 203.692 91.6483 202.377 92.591 201.955C92.5045 203.075 93.3967 203.998 91.8034 204.158C92.0234 204.833 97.1622 205.583 97.5192 204.987C97.5984 206.089 98.3375 205.06 98.6101 204.683C98.6408 205.325 98.4222 206.237 99.1425 206.536C99.6319 206.739 100.736 206.214 100.928 205.734C101.147 206.467 101.515 206.444 101.971 206.91C102.285 207.23 102.492 207.784 102.821 208.052C103.426 208.546 104.553 208.47 105.259 208.36C106.639 208.144 106.476 207.879 106.968 209.316C107.079 208.771 107.428 207.631 108.036 208.478C108.423 209.017 107.599 210.203 107.361 210.676C107.893 210.384 108.421 210.037 109.026 209.911C109.06 210.098 109.091 210.494 109.002 210.667C109.02 210.632 109.666 211.065 109.905 211.185C109.848 211.156 110.094 210.077 110.087 210.112C110.939 210.639 110.348 211.645 111.103 212.164C111.298 212.298 111.755 212.141 111.991 212.223C112.401 212.365 112.756 212.75 113.121 212.975C112.829 212.584 112.871 211.928 112.891 211.477C113.077 211.58 113.209 211.964 113.396 211.994C113.467 212.005 114.201 212.103 114.196 212.099C114.96 212.635 114.803 212.702 114.147 213.346C114.381 213.714 115.361 213.074 115.625 212.968C115.681 213.112 115.695 213.635 115.799 213.729C115.863 213.884 115.926 214.038 115.989 214.193C116.185 214.048 116.395 213.999 116.619 214.047C116.76 214.096 117.865 214.546 117.94 214.392C117.698 214.314 117.479 214.194 117.283 214.033C117.921 213.459 118.34 213.154 118.928 213.982C119.002 214.087 118.747 214.461 118.823 214.598C119.103 215.104 119.68 215.507 120.072 215.92C120.234 215.35 119.856 213.923 120.757 213.975C121.476 214.016 122.023 215.761 121.774 216.303C122.06 215.99 123.767 215.679 124.089 215.777C125 216.053 124.744 216.896 125.865 215.661C126.629 216.189 125.956 216.389 126.094 217.032C126.295 217.074 126.486 217.025 126.667 216.882C126.532 219.617 128.548 217.528 129.857 217.945C130.371 218.109 130.503 218.693 131.054 218.864C131.346 218.954 131.671 218.741 131.954 218.793C132.182 218.76 132.408 218.72 132.632 218.672C132.917 218.53 133.05 218.689 133.033 219.151C133.49 219.388 133.317 219.481 133.852 219.527C134.196 219.557 134.513 219.199 134.905 219.26C135.58 219.366 135.491 219.885 135.923 220.156C136.311 220.4 136.749 220.392 137.227 220.345C137.471 220.321 138.155 220.006 138.237 220.005C138.749 219.998 138.471 219.889 139.085 220.329C139.563 220.671 139.763 220.893 140.349 221.051C141.022 221.232 142.215 221.626 142.668 221.14C143.279 222.057 143.757 221.384 144.564 221.444C144.977 221.476 145.042 221.637 145.41 221.701C146.005 221.805 146.748 221.715 147.382 221.918C148.38 222.239 148.492 222.401 149.513 222.444C149.697 222.372 149.881 222.3 150.064 222.228C150.12 222.535 150.264 222.786 150.499 222.981C151.07 223.1 151.444 222.812 151.915 222.496C152.266 223.589 153.404 223.685 154.377 223.829C155.948 224.061 157.45 224.188 158.964 224.704C160.243 225.141 161.525 225.631 162.755 226.189C163.838 226.681 164.86 227.416 166.085 227.071C168.861 226.289 171.551 223.437 173.873 221.799C176.624 219.859 179.59 218.261 182.464 216.517C193.906 209.575 205.995 203.703 217.276 196.502C223.436 192.571 229.151 187.9 235.765 184.72C234.824 188.615 233.221 192.568 233.51 196.646C233.627 198.289 234.11 200.231 235.384 201.378C236.958 202.796 238.711 201.893 240.216 200.88C243.442 198.709 245.593 195.541 248.008 192.566C250.863 189.047 253.078 185.267 255.175 181.256C255.678 181.962 255.295 183.145 255.303 183.928C255.313 184.926 255.582 185.889 256.044 186.78C257.239 189.081 259.512 189.639 261.566 188.063C265.518 185.029 267.812 179.625 269.93 175.273C271.138 177.523 272.853 180.354 275.754 178.748C278.148 177.422 279.554 174.46 280.286 171.951C282.424 164.627 281.747 157.166 282.075 149.659Z" fill="black"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M278.445 105.667C278.172 105.003 278.052 105.112 278.554 104.468C278.945 104.854 278.632 105.172 278.445 105.667ZM290.542 145.836C289.775 143.652 290.249 141.28 289.783 139.039C289.569 138.011 289.231 137.014 289.109 135.967C289.055 135.503 288.642 133.412 288.923 133.083C288.057 132.558 288.054 132.17 287.854 131.141C288.163 130.813 288.124 130.533 287.738 130.301C287.485 129.996 287.233 129.69 286.98 129.384C288.085 129.925 287.431 128.541 287.318 127.744C287.229 127.113 287.169 126.456 286.959 125.852C286.701 125.109 286.126 124.734 287.322 124.734C286.928 124.286 286.34 123.824 286.144 123.276C285.863 122.487 286.327 121.444 285.753 120.747C285.432 120.359 283.781 120.206 284.071 119.367C284.218 118.939 284.887 119.258 285.095 118.959C285.909 117.78 283.505 117.292 283.387 116.791C283.235 116.141 284.103 115.996 284.156 115.389C284.208 114.794 283.284 113.817 283.04 113.285C282.708 113.366 282.343 113.893 281.962 113.641C281.89 113.594 281.999 111.535 281.912 111.262C281.827 110.993 281.653 110.281 281.591 110.149C281.345 109.625 280.639 109.37 280.527 108.751C280.461 108.382 281.906 107.823 280.248 107.805C280.844 106.755 279.753 106.117 279.356 105.219C278.845 104.065 278.544 102.819 278.02 101.659C277.51 100.531 276.94 99.4616 276.205 98.4646C275.54 97.5618 275.253 96.6936 274.721 95.7403C274.615 95.6565 274.508 95.5728 274.402 95.489C273.959 95.5532 273.816 95.3512 273.975 94.8825C273.636 94.3797 273.384 93.843 273.085 93.3178C272.737 92.7075 272.268 92.2099 271.909 91.6163C271.433 90.8294 271.292 89.942 270.753 89.1526C270.091 88.1815 269.346 87.3251 268.732 86.3177C267.963 85.0555 267.112 84.271 266.144 83.2936C265.683 82.8281 265.628 81.6654 265.063 81.0045C264.449 80.2845 263.842 80.0895 263.416 79.1445C262.862 77.9151 262.048 77.3282 261.256 76.2656C260.603 75.389 260.284 74.3816 259.565 73.5336C258.946 72.8053 258.243 72.1399 257.583 71.4493C256.749 70.5772 256.133 69.5174 255.265 68.6883C255.39 68.808 254.509 68.1094 254.554 68.1317C254.359 68.0323 253.73 67.9524 253.821 68.0065C252.511 67.2356 250.87 64.4143 248.898 65.9092C247.861 66.6954 248.358 68.1373 249.083 68.9204C249.394 69.2568 251.009 70.915 251.358 70.2157C251.735 70.7503 252.896 73.3347 253.861 72.5942C253.763 73.4774 254.274 73.1843 254.611 73.7814C254.834 74.1753 254.725 74.3687 254.887 74.9835C255.332 76.6739 257.031 78.3248 257.936 79.7988C260.188 83.4674 262.672 86.9469 264.925 90.6197C267.073 94.1201 269.479 97.4414 271.54 100.989C273.884 105.023 276.804 108.831 278.57 113.179C278.629 113.326 279.12 113.557 279.241 113.777C279.454 114.158 279.408 114.817 279.545 115.249C280.018 116.747 280.786 118.222 281.662 119.462C282.429 120.55 282.485 122.03 283.013 123.307C283.758 125.106 284.545 126.887 285.269 128.696C286.395 131.511 287.158 134.209 287.937 137.148C288.441 139.052 288.843 140.956 289.003 142.923C289.151 144.731 289.187 146.615 289.856 148.328C290.312 147.623 290.849 146.709 290.542 145.836Z" fill="black"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M32.8547 184.592C32.0452 184.428 31.2834 184.21 31.1119 183.28C30.9944 183.718 30.8773 184.157 30.7598 184.596C31.7453 184.819 32.7313 185.043 33.7169 185.266C33.4868 184.86 33.3187 184.686 32.8547 184.592Z" fill="black"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M35.027 31.9085C35.0884 31.6461 35.1679 31.3889 35.2658 31.138C35.3324 31.3826 35.6587 31.9116 35.4687 32.1423C35.2268 32.4351 34.982 32.2693 35.027 31.9085ZM38.9955 24.3507C39.2612 24.468 39.8361 24.4907 40.1659 24.5898C39.3103 25.3264 39.1597 25.1097 38.0535 25.0242C38.0043 24.2789 38.307 24.0475 38.9955 24.3507ZM31.5797 42.803C31.6944 42.8061 31.8095 42.8089 31.9249 42.8117C31.9319 42.4872 31.9235 42.163 31.8991 41.8391C33.0656 42.0942 32.4053 40.0539 32.0389 39.6309C33.1768 39.669 33.7312 36.0628 34.0916 35.3681C34.4117 34.7511 34.7743 34.5124 35.0082 33.7601C35.2128 33.1016 35.4342 32.509 35.7295 31.8861C36.408 30.454 37.298 29.1535 37.1338 27.4844C37.7087 28.7368 38.2142 27.4865 38.5789 26.8877C39.1663 25.9228 40.5996 24.6917 40.7519 23.5457C40.8865 22.5369 40.1376 22.4835 40.5797 21.5479C41.0266 20.6008 41.3941 20.6957 42.1771 20.3929C42.698 20.1912 42.8015 20.4361 43.169 19.778C43.4071 19.3519 43.3231 19.0344 43.6281 18.685C43.754 18.7946 43.8973 18.84 44.0577 18.8211C44.3052 18.4942 44.4676 18.1299 44.5447 17.7282C44.7466 17.1859 44.8442 16.688 45.1482 16.1715C45.4365 15.6823 45.9483 14.3733 46.2195 14.1374C46.5075 13.8868 48.1408 14.0142 48.1339 14.0233C48.8085 13.1739 47.5705 12.3277 49.2847 12.5067C48.9462 11.8758 50.1354 11.0927 50.4805 10.7417C51.3427 9.86544 51.4114 9.45995 51.5933 8.35794C51.6857 7.79611 51.0826 7.86102 51.8911 7.73295C52.2254 7.68026 52.5462 8.10808 52.7874 8.04527C53.8525 7.7689 52.7383 7.82159 53.0322 7.38714C53.1249 7.2493 53.5987 6.69306 53.5942 6.69899C53.5711 6.72691 53.7008 6.21498 53.8082 6.08343C54.0118 6.06598 54.2123 6.03038 54.4093 5.97665C54.5093 5.77425 54.5979 5.56697 54.6746 5.3548C55.4454 4.71132 56.5987 4.42343 57.1317 3.71644C57.4765 3.25931 57.3733 2.81159 57.8189 2.35585C58.2432 1.92175 58.8045 2.23616 58.8885 1.25559C58.9955 0.00806032 57.6568 -0.547132 57.1091 0.71191C55.6239 -1.11908 49.4161 5.59872 48.699 6.47635C45.584 10.2863 42.5223 14.1904 39.9671 18.4034C37.4776 22.5086 35.4342 26.828 33.8371 31.3557C33.067 33.5388 32.5981 35.7121 32.1278 37.9702C31.9699 38.7264 30.7897 42.0963 31.281 42.8504C31.3803 42.8347 31.48 42.8187 31.5797 42.803Z" fill="black"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M276.775 136.233C277.3 135.883 277.3 135.883 277.392 135.221C276.688 135.349 276.688 135.349 276.775 136.233Z" fill="black"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M18.1468 180.77C18.1537 180.769 18.1588 180.771 18.1628 180.775C18.1512 180.76 18.1089 180.716 18.1468 180.77Z" fill="black"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M17.7944 181.124C17.9565 181.474 18.2169 181.562 18.576 181.385C18.7176 181.587 17.3481 180.122 17.7944 181.124Z" fill="black"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M41.4752 21.0583C40.6535 22.6708 41.6827 21.498 41.63 22.0218C41.6646 21.6777 41.8071 21.1874 41.4752 21.0583Z" fill="black"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M175.068 46.0165C175.424 48.908 179.376 47.5404 180.265 45.7914C180.913 44.5181 182.548 39.4864 180.789 38.4235C179.485 37.6356 179.206 41.0316 178.885 41.7903C178.346 43.0608 177.925 42.1605 176.728 42.4864C175.406 42.8462 174.921 44.8175 175.068 46.0165Z" fill="black"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M170.75 40.7239C172.163 41.0379 173.548 40.876 174.551 39.7593C175.107 39.141 175.846 37.9144 174.846 37.3159C173.939 36.774 172.911 38.0432 171.956 37.7807C170.657 37.4238 171.326 36.03 170.88 35.1095C169.243 36.053 168.33 40.1858 170.75 40.7239Z" fill="black"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M172.215 48.0251C170.853 48.0223 170.842 49.6987 171.553 50.4172C172.233 51.1047 173.953 51.8005 174.875 51.2659C176.695 50.2106 173.317 48.134 172.215 48.0251Z" fill="black"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M92.982 114.689C93.2727 114.83 94.1297 115.558 94.4908 115.229C93.9811 114.715 93.4711 114.201 92.9614 113.687C92.6797 113.996 92.4865 114.448 92.982 114.689Z" fill="black"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M86.5462 41.1422C86.4015 41.2504 86.2565 41.3583 86.1118 41.4661C86.6002 41.8733 86.588 41.9944 87.0803 41.6088C86.9342 41.4162 86.7564 41.2609 86.5462 41.1422Z" fill="black"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M178.84 137.076C178.566 136.584 178.049 137.491 177.699 137.639C177.13 137.879 176.663 136.609 176.827 138.131C175.541 137.542 174.76 138.894 173.931 139.598C172.759 140.593 171.326 141.133 170.544 142.546C174.223 143.408 178.265 140.233 181.009 138.148C181.457 137.807 183.694 136.089 182.177 135.923C181.557 135.855 179.3 137.903 178.84 137.076Z" fill="black"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M177.749 134.095C178.47 133.527 176.915 133.475 176.669 133.415C176.691 133.867 176.711 134.319 176.733 134.771C177.08 134.559 177.419 134.334 177.749 134.095Z" fill="black"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M175.041 135.99C175.257 135.855 175.857 135.435 175.449 135.122C175.08 135.357 174.816 135.741 174.758 136.179C174.852 136.116 174.947 136.053 175.041 135.99Z" fill="black"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M115.455 99.3468C114.995 99.5275 114.789 99.8133 114.837 100.205C115.545 100.06 115.41 99.3911 115.455 99.3468Z" fill="black"/>
                </svg>                    
            </div>
            <div class="banner-input-text" *ngIf="coverImagePreviewURL==''">
                <p><span class="upload-btn"  (click)="fileUpload.click()">Upload</span> a Cover image or drag and drop</p>
                <input
                    style="display:none"
                    (change)="selectFile($event)"
                    #fileUpload
                    type="file"
                    accept="image/*"
                />
            </div>
        </div>
        <div class="blog-editor-wrapper">
            <quill-editor [styles]="{minHeight: '50vh',height:'auto',border:'1px solid #EfEfEf',fontSize:'1rem'}"  formControlName="post" format="html" ></quill-editor>
        </div>
    </form>
</div>
