
.root-container{
    width: 100%;
}
.main-container{
    width: 100%;
    padding: 2rem 15rem;
    .actions{
        display: flex;
        justify-content: flex-end;
        button{
            padding: 0.5rem 1.5rem;
           
            margin-left: 1rem;
            border-radius: 8px;
        }
        .normal-btn{
            color: #999999;
            &:hover{
                background-color: rgba(243, 243, 243, 0.76);
            }
        }
        .primary-btn{
            background-color: #000;
            color: #fff;
            &:hover{
                background-color: rgba(0, 0, 0, 0.76);
            }
        }
    }
    .title-wrapper{
        margin-top: 4rem;
        .title-input{
            width: 50%;
            border: none;
            border-bottom: 1px solid #000;
            transition: width 300ms;
            &:focus{
                outline:none !important;
                outline-width: 0 !important;
                box-shadow: none;
                -moz-box-shadow: none;
                -webkit-box-shadow: none;
                width: 100%;
            }
        }
    }
    .banner-input-wrapper{
        margin-top: 1.5rem;
        background-color: #EFEFEF;
        width: 100%;
        height: 22rem;
        padding: 2rem;
        .preview-image-wrapper{
            width: 100%;
            height: 100%;
            position: relative;
            
            .preview-image{
                width: 100%;
                height: 100%;
            }
            .cancel-wrapper{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background-color: rgba(145, 145, 145, 0.733);
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0;
                transition: opacity 300ms;
                p{
                    color:#fff;
                    font-size: 1.2rem;
                    cursor: pointer;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
            &:hover{
                .cancel-wrapper{
                    opacity: 1;
                }
            }
        }
        .vector-image{
            svg{
                margin: auto;
            }
        }
        .banner-input-text{
            margin: 1rem;
            p{
                text-align: center;
                color: #666666;
                .upload-btn{
                    color: #000;
                    font-weight: 600;
                    font-size: 1.2rem;
                    cursor: pointer;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .dragover-effect{
        background-color: rgba(190, 226, 170, 0.699);
    }
    .blog-editor-wrapper{
        margin-top: 1rem;
    }
}

@media screen and (max-width:1000px) {
    .main-container{
        padding: 2rem;
        .banner-input-wrapper{
            padding: 1rem;
            height: 20rem;
            .vector-image{
                svg{
                    width: 200px;
                    height: 200px;
                }
            }
        }
    }
}
@media screen and (min-width:1000px) and (max-width:1600px) {
    .main-container{
        padding: 2rem 8rem;
    }
}