.root-container{
    margin-right: 1rem;
    margin-bottom: 1rem;
    width: 23rem;
    height: 26rem;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 8px 8px 0 0;
}
.banner{
    width: 100%;
    height: 50%;
    border-radius: 8px 8px 0 0;
    background-image: url("https://miro.medium.com/fit/c/400/268/1*__4RC4kaUgXdNFbFTzatcQ.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    align-items: flex-end;
    .author-details{
        display: flex;
        align-items: center;
        padding: 0.5rem 0.9rem;
        .avatar{
            .image-border{
                width: 3.5rem;
                height: 3.5rem;
                border-radius: 50%;
                background-color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 93%;
                    height: 93%;
                    border-radius: 50%;
                }
            }
        }
        .author-info{
            padding: 0.5rem;
            color: #fff;
            font-size: 0.9rem;
            text-shadow:0px 0px  4px #525252;
            .name{
                font-size: 1.3rem;
                font-weight: 600;
            }
        }
    }
}
.blog-overview{
    padding: 0.5rem 0.5rem;
    .title{
        font-size: 1.3rem;
        font-weight: 600;
        width: 100%;
        height: 3.8rem;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .description{
        margin-top: 0.3rem;
        font-size: 0.8rem;
        color: #999999;
        height: 5.5rem;
        overflow: hidden;
    }
    .read-more{
        margin-top: 0.3rem;
        color: #A8A8A8;
        cursor: pointer;
        &:hover{
            text-decoration: underline;
        }
    }
}

@media screen and (max-width:750px) {
    .root-container{
        width: 18rem;
        height: 22rem;
        margin: auto;
    }
    .blog-overview{
        .title{
            font-size: 1rem;
            height: 2.8rem;
        }
        .description{
            height: 4.5rem;
        }
    }
    
}