<div class="root-container">
    <div class="banner" [ngStyle]="{'background-image':'url('+blog.cover_image+')'}">
        <div class="author-details">
            <div class="avatar">
                <div class="image-border">
                    <img [src]="blog.users.image" alt="">
                </div>
            </div>
            <div class="author-info">
                <p class="name">{{blog.users.name}}</p>
                <p>{{blog.created_at | date:"MMM dd"}} &bull; {{blog.likes_likesToposts.length}} likes</p>
            </div>
        </div>
    </div>
    <div class="blog-overview">
        <p class="title">{{blog.title}}</p>
        <p class="description">
            <quill-view [content]="blog.post"  [preserveWhitespace]="true" [sanitize]="true" format="html"></quill-view>
        </p>
        <p class="read-more" [routerLink]="['/blog/',blog.id]">Read more</p>
    </div>
</div>