<div class="root-container">
    <app-nav-top></app-nav-top>
    <div class="loader" *ngIf="is_loading">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="main-container" *ngIf="!is_loading">
        <div class="banner">
            <img [src]="blog.cover_image" alt="">
        </div>
        <div class="content">
            <div class="author-details">
                <div class="author-wrapper">
                    <p class="name" [routerLink]="['/profile/',blog.users.email]">{{blog.users.name}}</p>
                    <p class="email">{{blog.users.email}}</p>
                    <p class="posted-on email">Posted on: {{blog.created_at | date:"MMM dd YYYY"}}</p>
                    <button class="follow-btn" (click)="follow()" *ngIf="canAccess!=blog.users.email && !findUser(blog.users.followers_followers_followingTousers)" [disabled]="isFollowing">
                        <svg *ngIf="!isFollowing" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                          </svg>
                          <span *ngIf="!isFollowing">Follow</span>
                          <span>
                            <div class="loader-small" *ngIf="isFollowing"></div>
                          </span>
                    </button>
                    <button class="follow-btn" (click)="follow()" *ngIf="canAccess!=blog.users.email && findUser(blog.users.followers_followers_followingTousers)" [disabled]="isFollowing">
                        <svg *ngIf="!isFollowing" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                          </svg>
                          <span *ngIf="!isFollowing">Following</span>
                          <span>
                            <div class="loader-small" *ngIf="isFollowing"></div>
                          </span>
                    </button>
                    <div class="hr"></div>
                    <div class="actions">
                         <div class="action" (click)="like()" >
                            <svg *ngIf="!hasLiked" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 10h4.764a2 2 0 011.789 2.894l-3.5 7A2 2 0 0115.263 21h-4.017c-.163 0-.326-.02-.485-.06L7 20m7-10V5a2 2 0 00-2-2h-.095c-.5 0-.905.405-.905.905 0 .714-.211 1.412-.608 2.006L7 11v9m7-10h-2M7 20H5a2 2 0 01-2-2v-6a2 2 0 012-2h2.5" />
                              </svg>
                            <svg *ngIf="hasLiked" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="#0081BC">
                                <path d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z" />
                            </svg>
                            <span>{{blog.likes_likesToposts.length}}</span>
                        </div>
                        <div class="action" (click)="openCommentSlider()">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z" />
                            </svg>
                            <span>{{blog.comments.length}}</span>              
                        </div>
                        <div class="action" (click)="share()">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.684 13.342C8.886 12.938 9 12.482 9 12c0-.482-.114-.938-.316-1.342m0 2.684a3 3 0 110-2.684m0 2.684l6.632 3.316m-6.632-6l6.632-3.316m0 0a3 3 0 105.367-2.684 3 3 0 00-5.367 2.684zm0 9.316a3 3 0 105.368 2.684 3 3 0 00-5.368-2.684z" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="blog-content">
                <h1 class="title">{{blog.title}}</h1>
                <div class="hr"></div>
                <!-- <p> -->
                    <div [innerHtml]="blog.post">
                    </div>
                    <!-- <quill-view [content]="blog.post"  [preserveWhitespace]="true" [sanitize]="true" format="html"></quill-view> -->
                <!-- </p> -->
            </div>
        </div>
    </div>
</div>
<div class="overlay" *ngIf="!is_loading && openComments" (click)="closeCommentSlider()">
    <div class="comments-slider" [ngClass]="{'openSlider':openComments}" (click)="stopPropagation($event)">
        <div class="close-btn">
            <button (click)="closeCommentSlider()">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                  </svg>
            </button>
        </div>
        <div class="new-comment-wrapper">
            <textarea class="comment-input" [(ngModel)]="comment"  type="text" placeholder="what are your thoughts?"></textarea>
            <!-- <button class="secondary-btn">cancel</button> -->
            <button class="primary-btn" (click)="postComment()" [disabled]="isPostingComment">
                <span *ngIf="!isPostingComment">Post</span>
                <div class="loader-small" *ngIf="isPostingComment"></div>
            </button>
           
        </div>
        <div class="hr"></div>
        <div class="comment-list">
            <ng-container *ngFor="let comment of blog.comments">
                <app-comment-card [comment]="comment"></app-comment-card>
                <div class="hr"></div>
            </ng-container>
        </div>
    </div>
</div>
