.root-container{
    width: 100%;
}
.hr{
    margin: 1rem 0;
    border-top: 0.1px solid rgb(231, 231, 231);
}
.main-container{
    padding: 1rem 3rem;
    width: 100%;
    .banner{
        width: 100%;
        height: 50vh;
       img{
           width: 100%;
           height: 100%;
           margin: auto;
       }
    }
    .content{
        width: 100%;
        display: flex;
        .author-details{
            width: 17%;
            padding: 0.7rem;
            margin-top: 3rem;
            .author-wrapper{
                position: sticky;
                top:6rem;
                .name{
                    font-size: 1.5rem;
                    font-weight: 400;
                    cursor: pointer;
                    &:hover{
                        text-decoration: underline;
                    }
                }
                .email{
                    font-size: 1rem;
                    font-weight: 300;
                    color:#858585cb;
                }
                .posted-on{
                    font-size: 0.8rem;
                }
                .follow-btn{
                    margin-top: 1.3rem;
                    background-color: #000;
                    border-radius: 32px;
                    padding: 0.5rem 1.3rem;
                    color: #fff;
                    display: flex;
                    &:hover{
                        background: #000000cb;
                    }
                }
                .actions{
                    display: flex;
                    .action{
                        display: flex;
                        cursor: pointer;
                        padding: 0.5rem 1rem;
                        margin-right: 0.6rem;
                        border-radius: 32px;
                        &:hover{
                            background-color: rgb(235, 235, 235);
                        }
                        span{
                            padding-left: 0.4rem;
                        }
                    }
                }
            }
        }
        .blog-content{
            padding: 2rem 1rem;
            .title{
                font-size: 2.8rem;
                font-weight: 500;
            }
        }
    }
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(153, 153, 153, 0.486);
    z-index: 13;
    cursor: pointer;
    .comments-slider{
        cursor: default;
        width: 25vw;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        background: #fff;
        padding: 2rem;
        opacity: 0;
        transform: translateX(100%);
        overflow-y: auto;
        .close-btn{
            text-align: right;
            button{
                padding: 0.5rem;
                border-radius: 50%;
                &:hover{
                    background-color: rgb(221, 221, 221);
                }
                svg{
                    width: 2rem;
                    height: 2rem;
                }
            }
        }
        .new-comment-wrapper{
            margin-top: 2rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            .comment-input{
                width: 100%;
                height: auto;
                border: none;
                background: #FFFFFF;
                border: 1px solid #D1D5DB;
                box-sizing: border-box;
                box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
                border-radius: 6px;
                margin-bottom: 1rem;
                // transition: height 300ms;
                resize: vertical;
                &::placeholder{
                    font-size: 0.9rem;
                    margin-bottom: auto;
                    top: 0;
                    position: relative;
                }
            }
            button{
                padding: 0.5rem 1.5rem;
                margin-left: 0.8rem;
                border-radius: 8px;
            }
            .secondary-btn{
                color: #999999;
                &:hover{
                    background-color: rgba(243, 243, 243, 0.76);
                }
            }
            .primary-btn{
                background-color: #000;
                color: #fff;
                &:hover{
                    background-color: rgba(0, 0, 0, 0.76);
                }
            }
        }
    }
    .openSlider{
       animation: comment-slider 300ms;
       animation-fill-mode: forwards;
    }
}
@keyframes comment-slider {
    0%{
        opacity: 0;
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

//
.loader-small {
    border: 3px solid #f3f3f3; 
    border-top: 3px solid #3498db; 
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media screen and (max-width:750px) {
    .main-container{
        padding: 1rem 1rem;
        .content{
            flex-wrap: wrap;
            .author-details{
                width: 100%;
                margin-top: 1.5rem;
            }
            .blog-content{
                padding: 1rem 1rem;
                .title{
                    font-size: 2rem;
                }
            }
        }
    }
    .overlay{
        .comments-slider{
            width: 70vw;
        }
    }
}

@media screen and (min-width:750px) and (max-width:1220px) {
    .main-container{
        padding: 1rem 1rem;
        .content{
            .author-details{
                width: 23%;
            }
        }
    }
    .overlay{
        .comments-slider{
            width: 40vw;
        }
    }
}
@media screen and (max-width:450px){
    .overlay{
        .comments-slider{
            width: 100vw;
        }
    }
}