<div class="root-container">
    <div class="avatar">
        <img [src]="user.image" alt="">
    </div>
    <div class="info">
        <p class="name" [routerLink]="['/profile/',user.email]">{{user.name | titlecase}}</p>
        <p class="email">{{user.email}}</p>
    </div>
</div>
