.root-container{
    width: 15rem;
    height: 15rem;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 8px;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
.avatar{
    padding: 1rem;
    display: flex;
    justify-content: center;
    border-radius: 8px 8px 0 0 ;
    background: linear-gradient(#000 60%, transparent 60%) no-repeat;
    img{
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
    }
}
.info{
    margin-top: 1rem;
    p{
        text-align: center;
    }
    .name{
        font-size: 1.3rem;
        font-weight: 500;
        cursor: pointer;
        &:hover{
            text-decoration: underline;
        }
    }
    .email{
        font-size: 0.9rem;
        color: #999;
    }
}