<nav>
    <div class="logo" routerLink="/home">
        <svg width="40" height="40" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="80" height="80" rx="8" fill="black"/>
            <path d="M67.7178 39.8975C67.7178 42.9281 67.2734 45.8447 66.3848 48.6475C65.4961 51.4502 64.1289 54.1276 62.2832 56.6797H51.6533V51.4502L59.4805 50.3223C60.3919 48.8411 61.0983 47.2347 61.5996 45.5029C62.1009 43.7712 62.3516 41.9027 62.3516 39.8975C62.3516 36.5023 61.5996 33.8704 60.0957 32.002C58.569 30.1335 56.5752 29.1992 54.1143 29.1992C51.8356 29.1992 49.9443 30.0423 48.4404 31.7285C46.9365 33.4147 45.6947 36.4225 44.7148 40.752C43.5299 45.9017 41.7298 49.8324 39.3145 52.5439C36.8763 55.2555 33.8115 56.6113 30.1201 56.6113C27.5225 56.6113 25.1982 55.9277 23.1475 54.5605C21.0967 53.1706 19.4788 51.2451 18.2939 48.7842C17.109 46.3232 16.5166 43.4521 16.5166 40.1709C16.5166 36.6846 17.0521 33.6084 18.123 30.9424C19.1712 28.2536 20.4473 26.0433 21.9512 24.3115H31.8975V29.541L24.7881 30.6689C23.9678 31.6943 23.2842 32.9704 22.7373 34.4971C22.1904 36.0238 21.917 37.915 21.917 40.1709C21.917 43.0648 22.6576 45.4118 24.1387 47.2119C25.6198 48.9893 27.5794 49.8779 30.0176 49.8779C32.1595 49.8779 33.9141 49.0234 35.2812 47.3145C36.6257 45.6055 37.8219 42.6432 38.8701 38.4277C40.1689 33.1868 42.0944 29.222 44.6465 26.5332C47.1758 23.8216 50.3089 22.4658 54.0459 22.4658C56.7119 22.4658 59.0817 23.1836 61.1553 24.6191C63.2061 26.0547 64.8125 28.0827 65.9746 30.7031C67.1367 33.3008 67.7178 36.3656 67.7178 39.8975Z" fill="white"/>
        </svg>            
        <span>Story Book</span>                
    </div>

    <div class="nav-items nav-items-top">
        <span routerLink="/home" routerLinkActive="linkActive">Home</span>
        <span routerLink="/createblog" routerLinkActive="linkActive" *ngIf="canAccess">Write</span>
        <span [routerLink]="['/profile/',canAccess]" routerLinkActive="linkActive" *ngIf="canAccess">Profile</span>
        <button (click)="logout()" class="signin-btn" *ngIf="canAccess">Logout</button>
        <button class="signin-btn" routerLink="/"  *ngIf="!canAccess">SignIn</button>
    </div>
    <div id="hamburger" [ngClass]="{'open':hamMenuOpen}" (click)="toggleHam()">
        <div></div>
      </div>
    <div class="slider" [ngClass]="{'open-slider':hamMenuOpen}">
        <div class="nav-items slider-nav-item">
            <span routerLink="/home" routerLinkActive="linkActive">Home</span>
            <span routerLink="/createblog" routerLinkActive="linkActive" *ngIf="canAccess">Write</span>
            <span [routerLink]="['/profile/',canAccess]" routerLinkActive="linkActive" *ngIf="canAccess">Profile</span>
            <button (click)="logout()" class="signin-btn" *ngIf="canAccess">Logout</button>
            <button class="signin-btn" routerLink="/"  *ngIf="!canAccess">SignIn</button>
        </div>
    </div>

</nav>