@import "../../../../constants/colors.scss";

nav{
    position: sticky;
    top: 0;
    width: 100%;
    height: 5rem;
    background: #FAFAFA;
    border: 0.1px solid #8e8e8e71;
    box-sizing: border-box;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    z-index: 5;
    .logo{
        display: flex;
        align-items: center;
        cursor: pointer;
        span{
            padding-left: 0.7rem;
            margin: auto;
            font-size: 1.5rem;
            font-weight: 500;
            // color: $presidio_blue;
        }
    }
    .nav-items{
        display: flex;
        align-content: center;
        span{
            padding: 0rem 1.5rem;
            margin: auto;
            font-size: 1.1rem;
            cursor: pointer;
            &:hover{
                text-decoration: underline;
            }
        }
        .signin-btn{
            margin-left: 1rem;
            padding: 0rem 2rem;
            background: #000000;
            border-radius: 32px;
            color: #fff;
            &:hover{
                background: #000000cb;
            }
        }
    }
}
.linkActive{
    font-weight: 600;
    // color: $presidio_blue;
}

.slider{
    display: none;
    width: 0;
    background-color: #fff;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 5rem;
    top: 5rem;
    z-index: 4;
    box-shadow: -2px 2px 0px rgba(0, 0, 0, 0.1);
    transition: 300ms width;
    .slider-nav-item{
        display: none;
        flex-wrap: wrap;
        >*{
            width: 100%;
            margin-bottom: 1rem;
        }
        .signin-btn{
            width: 7rem;
            padding: 0.2rem 0;
        }
    }
}
.open-slider{
    width: 50vw;
    padding: 2rem 0rem;
    .slider-nav-item{
        display: flex;
    }
}
#hamburger {
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.25s linear;
    width: clamp(1.5rem, 2vw + 1.1rem, 6rem);
    height: clamp(2rem, 1.4vw + 1.7rem, 5rem);
    // display: flex;
    align-items: center;
    display: none;
}
  
#hamburger:hover {
    opacity: 1;
}
  
#hamburger div,
#hamburger div:after,
#hamburger div:before {
    background-color: #000;
    border-radius: 10px;
    width: clamp(1.5rem, 2vw + 1.1rem, 6rem);
    height: clamp(0.2rem, 0.3vw + 0.1rem, 0.8rem);
    transition: all 0.15s linear;
}
  
#hamburger div:before,
#hamburger div:after {
    content: "";
    position: absolute;
}
  
#hamburger div:before {
    transform: translateY(-200%);
}
  
#hamburger div:after {
    transform: translateY(200%);
}
  
#hamburger.open div {
    background: transparent;
}
  
#hamburger.open div:before {
    transform: rotate(45deg);
}
  
#hamburger.open div:after {
    transform: rotate(-45deg);
}
  
@media screen and (max-width:750px)  {
    nav{
        .nav-items-top{
            display: none ;
        }
    }
    .slider{
        display: block;
    }
    #hamburger{
        display:flex;
    }
}