/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

body{
    font-family: 'Inter', sans-serif;
}
button:active,
button,
button:focus,
input,
input:focus,
input:active,
a,
a:focus,
a:active,
a:visited ,
select,
select:active,
select:focus{
  outline: 0;
}

//loader
.loader{
    margin-top: 25vh;
    width:100vw;
    display:flex;
}
  
.loader span{
    opacity:0;
    width:20px;
    height:20px;
    margin: 5px;
    border-radius:50%;
    background-color:#4B6587;
    position:absolute;
    animation:move 2.5s cubic-bezier(.15,.56,.74,.35) infinite;
}
  
.loader span:nth-of-type(2){
    animation-delay:0.2s;
}
  
.loader span:nth-of-type(3){
    animation-delay:0.4s;
}
  
.loader span:nth-of-type(4){
    animation-delay:0.6s;
}
  
@keyframes move{
    0%{
      left:1%;
      opacity:0;
    }
    20%{
      opacity:1;
    }
    80%{
      opacity:1;
    }
    100%{
      left:99%;
      opacity:0;
    }
  }